<div class="container main">
    <div class="row">
        <div class="col-lg-9">
            <blockquote class="blockquote">
                  <p class="mb-0">We want to provide you a personalized experience. Kindly register your account to assist us do this. It is free and only takes a few minutes. 
                    Please note that fields marked with (<span style="color:red">*</span>) are mandatory.</p>
            </blockquote>
            <figure class="figure mt-3 mb-5">
                <img src="#" class="figure-img img-fluid" alt="">
            </figure>
            <form class="frm_1">
                <div class="form-group required">
                    <label>Last Name</label> 
                    <input type="text" class="form-control form-control-lg"> 
                </div>
                <div class="form-group required">
                    <label>First Name</label> 
                    <input type="text" class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label>Telephone</label> 
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                              <div class="input-group-text">+234</div>
                        </div>
                        <input type="text" class="form-control form-control-lg">
                      </div>
                </div>
                <div class="form-group required">
                    <label>Email address</label> 
                    <input type="email" class="form-control form-control-lg"> 
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group required">
                    <label>Password</label> 
                    <input type="password" class="form-control form-control-lg">
                </div>
                <a href="index.php" class="btn btn-outline-secondary"><i class="fal fa-times"></i> Cancel</a>
                <a href="create-account-complete.php" class="btn btn-outline-secondary">Next <i class="fal fa-chevron-right"></i></a>
            </form>
        </div>
        <div class="col-lg-3">
            <div id="sidebar">
<h4>Related Information</h4>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="#">Create Surveyor Account</a></li>
  <li class="list-group-item"><a href="#">Lost my Password</a></li>
  <li class="list-group-item"><a href="#">How can i process my property Valuation?</a></li>
  <li class="list-group-item"><a href="#">I want to make an online application</a></li>
  <li class="list-group-item"><a href="#">How much would is cost me to process a specific land transaction?</a></li>
  <li class="list-group-item"><a href="#">How do I track an on-going application at the Lagos State Lands' Bureau?</a></li>
</ul>
</div>
        </div>
    </div>
</div>