<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="batch">
            <h2><span jhiTranslate="egisexternalApp.batch.detail.title">Batch</span> {{batch.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.batch.batchNumber">Batch Number</span></dt>
                <dd>
                    <span>{{batch.batchNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.batchStatus">Batch Status</span></dt>
                <dd>
                    <span>{{batch.batchStatus}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.invoiceNumber">Invoice Number</span></dt>
                <dd>
                    <span>{{batch.invoiceNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.createDate">Create Date</span></dt>
                <dd>
                    <span>{{batch.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.deliveryDate">Delivery Date</span></dt>
                <dd>
                    <span>{{batch.deliveryDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.officeId">Office Id</span></dt>
                <dd>
                    <span>{{batch.officeId}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.user">User</span></dt>
                <dd>
                    {{batch.user?.id}}
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.transaction">Transaction</span></dt>
                <dd>
                    <span *ngFor="let transaction of batch.transactions; let last = last">
                        <a [routerLink]="['/transaction', transaction?.id, 'view' ]">{{transaction.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.batch.party">Party</span></dt>
                <dd>
                    <span *ngFor="let party of batch.parties; let last = last">
                        <a [routerLink]="['/party', party?.id, 'view' ]">{{party.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/batch', batch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
