<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parcel-heading" jhiTranslate="egisexternalApp.parcel.home.createOrEditLabel">Create or edit a Parcel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                           formControlName="label"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.area" for="field_area">Area</label>
                    <input type="number" class="form-control" name="area" id="field_area"
                           formControlName="area"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.registrationOfficeDictionary" for="field_registrationOfficeDictionary">Registration Office Dictionary</label>
                    <input type="text" class="form-control" name="registrationOfficeDictionary" id="field_registrationOfficeDictionary"
                           formControlName="registrationOfficeDictionary"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.surveyDate" for="field_surveyDate">Survey Date</label>
                    <div class="input-group">
                        <input id="field_surveyDate" type="text" class="form-control" name="surveyDate" ngbDatepicker  #surveyDateDp="ngbDatepicker" formControlName="surveyDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="surveyDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.accommodation" for="field_accommodation">Accommodation</label>
                    <input type="text" class="form-control" name="accommodation" id="field_accommodation"
                           formControlName="accommodation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyArea" for="field_propertyArea">Property Area</label>
                    <input type="number" class="form-control" name="propertyArea" id="field_propertyArea"
                           formControlName="propertyArea"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.planNumber" for="field_planNumber">Plan Number</label>
                    <input type="text" class="form-control" name="planNumber" id="field_planNumber"
                           formControlName="planNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.premiumValue" for="field_premiumValue">Premium Value</label>
                    <input type="text" class="form-control" name="premiumValue" id="field_premiumValue"
                           formControlName="premiumValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.coordinateN" for="field_coordinateN">Coordinate N</label>
                    <input type="number" class="form-control" name="coordinateN" id="field_coordinateN"
                           formControlName="coordinateN"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.coordinateS" for="field_coordinateS">Coordinate S</label>
                    <input type="number" class="form-control" name="coordinateS" id="field_coordinateS"
                           formControlName="coordinateS"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.lagosSheetNumber" for="field_lagosSheetNumber">Lagos Sheet Number</label>
                    <input type="text" class="form-control" name="lagosSheetNumber" id="field_lagosSheetNumber"
                           formControlName="lagosSheetNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.allocation" for="field_allocation">Allocation</label>
                    <input type="text" class="form-control" name="allocation" id="field_allocation"
                           formControlName="allocation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.location1" for="field_location1">Location 1</label>
                    <input type="number" class="form-control" name="location1" id="field_location1"
                           formControlName="location1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.valuation" for="field_valuation">Valuation</label>
                    <input type="text" class="form-control" name="valuation" id="field_valuation"
                           formControlName="valuation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.legalDescription" for="field_legalDescription">Legal Description</label>
                    <input type="text" class="form-control" name="legalDescription" id="field_legalDescription"
                           formControlName="legalDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" formControlName="address">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id === editForm.get('address').value?.id ? editForm.get('address').value : addressOption" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.spatialUnitType" for="field_spatialUnitType">Spatial Unit Type</label>
                    <select class="form-control" id="field_spatialUnitType" name="spatialUnitType" formControlName="spatialUnitType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('spatialUnitType').value?.id ? editForm.get('spatialUnitType').value : dictionaryOption" *ngFor="let dictionaryOption of spatialUnitLinkTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.surveyType" for="field_surveyType">Survey Type</label>
                    <select class="form-control" id="field_surveyType" name="surveyType" formControlName="surveyType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('surveyType').value?.id ? editForm.get('surveyType').value : dictionaryOption" *ngFor="let dictionaryOption of surveyPlanTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyType" for="field_propertyType">Property Type</label>
                    <select class="form-control" id="field_propertyType" name="propertyType" formControlName="propertyType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('propertyType').value?.id ? editForm.get('propertyType').value : dictionaryOption" *ngFor="let dictionaryOption of propertyTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.tenureType" for="field_tenureType">Tenure Type</label>
                    <select class="form-control" id="field_tenureType" name="tenureType" formControlName="tenureType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('tenureType').value?.id ? editForm.get('tenureType').value : dictionaryOption" *ngFor="let dictionaryOption of tenureTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('location').value?.id ? editForm.get('location').value : dictionaryOption" *ngFor="let dictionaryOption of locationOfLands; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.builtUpAreaType" for="field_builtUpAreaType">Built Up Area Type</label>
                    <select class="form-control" id="field_builtUpAreaType" name="builtUpAreaType" formControlName="builtUpAreaType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('builtUpAreaType').value?.id ? editForm.get('builtUpAreaType').value : dictionaryOption" *ngFor="let dictionaryOption of builtUpAreaTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.measurementUnitType" for="field_measurementUnitType">Measurement Unit Type</label>
                    <select class="form-control" id="field_measurementUnitType" name="measurementUnitType" formControlName="measurementUnitType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('measurementUnitType').value?.id ? editForm.get('measurementUnitType').value : dictionaryOption" *ngFor="let dictionaryOption of measurementTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.landUseCategory" for="field_landUseCategory">Land Use Category</label>
                    <select class="form-control" id="field_landUseCategory" name="landUseCategory" formControlName="landUseCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('landUseCategory').value?.id ? editForm.get('landUseCategory').value : dictionaryOption" *ngFor="let dictionaryOption of landUseCategorys; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.landUseType" for="field_landUseType">Land Use Type</label>
                    <select class="form-control" id="field_landUseType" name="landUseType" formControlName="landUseType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('landUseType').value?.id ? editForm.get('landUseType').value : dictionaryOption" *ngFor="let dictionaryOption of landUseTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.developmentStatus" for="field_developmentStatus">Development Status</label>
                    <select class="form-control" id="field_developmentStatus" name="developmentStatus" formControlName="developmentStatus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('developmentStatus').value?.id ? editForm.get('developmentStatus').value : dictionaryOption" *ngFor="let dictionaryOption of developmentStatus; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.registerType" for="field_registerType">Register Type</label>
                    <select class="form-control" id="field_registerType" name="registerType" formControlName="registerType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('registerType').value?.id ? editForm.get('registerType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.meansOfAcq" for="field_meansOfAcq">Means Of Acq</label>
                    <select class="form-control" id="field_meansOfAcq" name="meansOfAcq" formControlName="meansOfAcq">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('meansOfAcq').value?.id ? editForm.get('meansOfAcq').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.region" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="region" formControlName="region">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('region').value?.id ? editForm.get('region').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
