<!--<div class="footer">
    <p jhiTranslate="footer">This is your footer</p>
</div>-->
<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../../content/images/custom/main/LG_0005.png" class="logo img-fluid mb-3">
                        <!--<span class="logo img-fluid mb-3"></span>-->
                        <span class="slogan mt-5"><strong>Great Life. Great Opportunity.</strong></span>
                        <hr>
                        &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        Powered by <a href="http://www.teqbridgeltd.com" target="new"><strong>Teqbridge Limited</strong></a><br>
                        Official Lagos State eGIS Project Website<br>
                    </div>
                    <div class="col-md-4 d-none d-sm-block">
                        <h2>Resources</h2>
                        <ul class="list-resources">
                            <li><a href="#"><img src="../../../content/images/custom/main/iconfinder_ChevronRight_1031536.png" class="img-fluid"> Privacy Policy</a></li>
                            <li><a href="#"><img src="../../../content/images/custom/main/iconfinder_ChevronRight_1031536.png" class="img-fluid"> Copyright Information</a></li>
                            <li><a href="#"><img src="../../../content/images/custom/main/iconfinder_ChevronRight_1031536.png" class="img-fluid"> Disclaimer</a></li>
                            <!--<li><a href="#"><i class="fas fa-chevron-right"></i> Accessibility</a></li>-->
                            <li><a href="#"><img src="../../../content/images/custom/main/iconfinder_ChevronRight_1031536.png" class="img-fluid"> Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 d-none d-sm-block">
                        <div class="social-links">
                            <h2>Connect With Us.</h2>
                            <a href="#"><img src="../../../content/images/custom/main/iconfinder_facebook_square_107117.png" class="img-fluid"></a>
                            <a href="#"><img src="../../../content/images/custom/main/iconfinder_twitter_square_107066.png" class="img-fluid"></a>
                            <a href="#"><img src="../../../content/images/custom/main/iconfinder_youtube_square_color_107040.png" class="img-fluid"></a>
                            <a href="#"></a>
                        </div>
                        <div class="footer-text">
                            This website and the materials and images appearing within it are protected by Nigerian copyright law. Except as otherwise provided for under Nigerian copyright law, such website, materials and images may not be copied, published, distributed, downloaded or otherwise stored, transmitted or converted, in any form or by any means, electronic or otherwise, without the prior written permission of the copyright owner.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


