<img src="../../../content/images/custom/main/LG_0020.png" class="figure-img img-fluid mt-5 mb-5 center-image" alt="">
<form class="frm_1 text-center">
    <div class="row">
        <div class="col-lg-12 mb-4" style="margin: 0 auto;">
            <a class="form-download-link"  (click)="getFile()" >
                <h3><fa-icon icon="download"></fa-icon> Download {{downloadName}} Application Form </h3>
            </a>
        </div>
    </div>
    <!-- <button class="btn btn-outline-secondary" type="button" (click)="goBack()"><fa-icon icon="chevron-left"></fa-icon> Back</button> -->
    <button class="btn btn-outline-secondary" type="button" (click)="restart()"><fa-icon icon="redo"></fa-icon> Restart</button>
</form>
<h6 class="form-download-link-footnote" >
    For land registration forms it is important that you use the correct application form where one is prescribed, otherwise the application may be rejected.
    All completed application form should be filled and submitted in person or by an agent at the LAGOS eGIS Project Office, MTN Building at Lands Bureau, Alausa, Lagos.
</h6>