<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-party-heading" jhiTranslate="egisexternalApp.party.home.createOrEditLabel">Create or edit a Party</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailAddress" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                           formControlName="emailAddress"/>
                    <div *ngIf="editForm.get('emailAddress').invalid && (editForm.get('emailAddress').dirty || editForm.get('emailAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('emailAddress').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                    <div *ngIf="editForm.get('phoneNumber').invalid && (editForm.get('phoneNumber').dirty || editForm.get('phoneNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.payerId" for="field_payerId">Payer Id</label>
                    <input type="text" class="form-control" name="payerId" id="field_payerId"
                           formControlName="payerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.taxPayerNumber" for="field_taxPayerNumber">Tax Payer Number</label>
                    <input type="text" class="form-control" name="taxPayerNumber" id="field_taxPayerNumber"
                           formControlName="taxPayerNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.payeNumber" for="field_payeNumber">Paye Number</label>
                    <input type="text" class="form-control" name="payeNumber" id="field_payeNumber"
                           formControlName="payeNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdDate" for="field_personIdDate">Person Id Date</label>
                    <div class="input-group">
                        <input id="field_personIdDate" type="text" class="form-control" name="personIdDate" ngbDatepicker  #personIdDateDp="ngbDatepicker" formControlName="personIdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdExpirationDate" for="field_personIdExpirationDate">Person Id Expiration Date</label>
                    <div class="input-group">
                        <input id="field_personIdExpirationDate" type="text" class="form-control" name="personIdExpirationDate" ngbDatepicker  #personIdExpirationDateDp="ngbDatepicker" formControlName="personIdExpirationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdExpirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.rcNumber" for="field_rcNumber">Rc Number</label>
                    <input type="text" class="form-control" name="rcNumber" id="field_rcNumber"
                           formControlName="rcNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.organization" for="field_organization">Organization</label>
                    <input type="text" class="form-control" name="organization" id="field_organization"
                           formControlName="organization"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthPlace" for="field_birthPlace">Birth Place</label>
                    <input type="text" class="form-control" name="birthPlace" id="field_birthPlace"
                           formControlName="birthPlace"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.occupation" for="field_occupation">Occupation</label>
                    <input type="text" class="form-control" name="occupation" id="field_occupation"
                           formControlName="occupation"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.blockNumber" for="field_blockNumber">Block Number</label>
                    <input type="text" class="form-control" name="blockNumber" id="field_blockNumber"
                           formControlName="blockNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.plotNumber" for="field_plotNumber">Plot Number</label>
                    <input type="text" class="form-control" name="plotNumber" id="field_plotNumber"
                           formControlName="plotNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetNumber" for="field_streetNumber">Street Number</label>
                    <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                           formControlName="streetNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetName" for="field_streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName" id="field_streetName"
                           formControlName="streetName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.buildingName" for="field_buildingName">Building Name</label>
                    <input type="text" class="form-control" name="buildingName" id="field_buildingName"
                           formControlName="buildingName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.buildingNumber" for="field_buildingNumber">Building Number</label>
                    <input type="text" class="form-control" name="buildingNumber" id="field_buildingNumber"
                           formControlName="buildingNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.village" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                           formControlName="village"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.longAddress" for="field_longAddress">Long Address</label>
                    <input type="text" class="form-control" name="longAddress" id="field_longAddress"
                           formControlName="longAddress"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.town" for="field_town">Town</label>
                    <input type="text" class="form-control" name="town" id="field_town"
                           formControlName="town"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.ward" for="field_ward">Ward</label>
                    <input type="text" class="form-control" name="ward" id="field_ward"
                           formControlName="ward"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.nextOfKinPhone" for="field_nextOfKinPhone">Next Of Kin Phone</label>
                    <input type="text" class="form-control" name="nextOfKinPhone" id="field_nextOfKinPhone"
                           formControlName="nextOfKinPhone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentIssuedDate" for="field_iDDocumentIssuedDate">I D Document Issued Date</label>
                    <div class="input-group">
                        <input id="field_iDDocumentIssuedDate" type="text" class="form-control" name="iDDocumentIssuedDate" ngbDatepicker  #iDDocumentIssuedDateDp="ngbDatepicker" formControlName="iDDocumentIssuedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="iDDocumentIssuedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentExpirationDate" for="field_iDDocumentExpirationDate">I D Document Expiration Date</label>
                    <div class="input-group">
                        <input id="field_iDDocumentExpirationDate" type="text" class="form-control" name="iDDocumentExpirationDate" ngbDatepicker  #iDDocumentExpirationDateDp="ngbDatepicker" formControlName="iDDocumentExpirationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="iDDocumentExpirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentNumber" for="field_iDDocumentNumber">I D Document Number</label>
                    <input type="text" class="form-control" name="iDDocumentNumber" id="field_iDDocumentNumber"
                           formControlName="iDDocumentNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.primaryParty" for="field_primaryParty">Primary Party</label>
                    <select class="form-control" name="primaryParty" formControlName="primaryParty" id="field_primaryParty">
                        <option value="">Please choose </option>
                        <option value="Y">I am the primary Applicant</option>
                        <option value="N">I am NOT the primary Applicant</option>
                    </select>

                    <div *ngIf="editForm.get('primaryParty').invalid && (editForm.get('primaryParty').dirty || editForm.get('primaryParty').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryParty').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyType" for="field_partyType">Party Type</label>
                    <select class="form-control" id="field_partyType" name="partyType" formControlName="partyType">
                        <option *ngIf="!editForm.get('partyType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyType').value?.id ? editForm.get('partyType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('partyType').invalid && (editForm.get('partyType').dirty || editForm.get('partyType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('partyType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyRoleType" for="field_partyRoleType">Party Role Type</label>
                    <select class="form-control" id="field_partyRoleType" name="partyRoleType" formControlName="partyRoleType">
                        <option *ngIf="!editForm.get('partyRoleType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyRoleType').value?.id ? editForm.get('partyRoleType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('partyRoleType').invalid && (editForm.get('partyRoleType').dirty || editForm.get('partyRoleType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('partyRoleType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personType" for="field_personType">Person Type</label>
                    <select class="form-control" id="field_personType" name="personType" formControlName="personType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personType').value?.id ? editForm.get('personType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailType" for="field_emailType">Email Type</label>
                    <select class="form-control" id="field_emailType" name="emailType" formControlName="emailType">
                        <option *ngIf="!editForm.get('emailType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('emailType').value?.id ? editForm.get('emailType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('emailType').invalid && (editForm.get('emailType').dirty || editForm.get('emailType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('emailType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdIssuedBy" for="field_personIdIssuedBy">Person Id Issued By</label>
                    <select class="form-control" id="field_personIdIssuedBy" name="personIdIssuedBy" formControlName="personIdIssuedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personIdIssuedBy').value?.id ? editForm.get('personIdIssuedBy').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personTitle" for="field_personTitle">Person Title</label>
                    <select class="form-control" id="field_personTitle" name="personTitle" formControlName="personTitle">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personTitle').value?.id ? editForm.get('personTitle').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.gender" for="field_gender">Gender</label>
                    <select class="form-control" id="field_gender" name="gender" formControlName="gender">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('gender').value?.id ? editForm.get('gender').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.civilState" for="field_civilState">Civil State</label>
                    <select class="form-control" id="field_civilState" name="civilState" formControlName="civilState">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('civilState').value?.id ? editForm.get('civilState').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.driverLicenseRegion" for="field_driverLicenseRegion">Driver License Region</label>
                    <select class="form-control" id="field_driverLicenseRegion" name="driverLicenseRegion" formControlName="driverLicenseRegion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('driverLicenseRegion').value?.id ? editForm.get('driverLicenseRegion').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.businessNature" for="field_businessNature">Business Nature</label>
                    <select class="form-control" id="field_businessNature" name="businessNature" formControlName="businessNature">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('businessNature').value?.id ? editForm.get('businessNature').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.phoneCategory" for="field_phoneCategory">Phone Category</label>
                    <select class="form-control" id="field_phoneCategory" name="phoneCategory" formControlName="phoneCategory">
                        <option *ngIf="!editForm.get('phoneCategory').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('phoneCategory').value?.id ? editForm.get('phoneCategory').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('phoneCategory').invalid && (editForm.get('phoneCategory').dirty || editForm.get('phoneCategory').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('phoneCategory').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.nextOfKinPhoneCategory" for="field_nextOfKinPhoneCategory">Next Of Kin Phone Category</label>
                    <select class="form-control" id="field_nextOfKinPhoneCategory" name="nextOfKinPhoneCategory" formControlName="nextOfKinPhoneCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('nextOfKinPhoneCategory').value?.id ? editForm.get('nextOfKinPhoneCategory').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailCategory" for="field_emailCategory">Email Category</label>
                    <select class="form-control" id="field_emailCategory" name="emailCategory" formControlName="emailCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('emailCategory').value?.id ? editForm.get('emailCategory').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.addressCategory" for="field_addressCategory">Address Category</label>
                    <select class="form-control" id="field_addressCategory" name="addressCategory" formControlName="addressCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('addressCategory').value?.id ? editForm.get('addressCategory').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentType" for="field_iDDocumentType">I D Document Type</label>
                    <select class="form-control" id="field_iDDocumentType" name="iDDocumentType" formControlName="iDDocumentType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('iDDocumentType').value?.id ? editForm.get('iDDocumentType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentIssuedBy" for="field_iDDocumentIssuedBy">I D Document Issued By</label>
                    <select class="form-control" id="field_iDDocumentIssuedBy" name="iDDocumentIssuedBy" formControlName="iDDocumentIssuedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('iDDocumentIssuedBy').value?.id ? editForm.get('iDDocumentIssuedBy').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.suffixTitle" for="field_suffixTitle">Suffix Title</label>
                    <select class="form-control" id="field_suffixTitle" name="suffixTitle" formControlName="suffixTitle">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('suffixTitle').value?.id ? editForm.get('suffixTitle').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.stateofOrigin" for="field_stateofOrigin">Stateof Origin</label>
                    <select class="form-control" id="field_stateofOrigin" name="stateofOrigin" formControlName="stateofOrigin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('stateofOrigin').value?.id ? editForm.get('stateofOrigin').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.maritalStatus" for="field_maritalStatus">Marital Status</label>
                    <select class="form-control" id="field_maritalStatus" name="maritalStatus" formControlName="maritalStatus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('maritalStatus').value?.id ? editForm.get('maritalStatus').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetType" for="field_streetType">Street Type</label>
                    <select class="form-control" id="field_streetType" name="streetType" formControlName="streetType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('streetType').value?.id ? editForm.get('streetType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.estateName" for="field_estateName">Estate Name</label>
                    <select class="form-control" id="field_estateName" name="estateName" formControlName="estateName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('estateName').value?.id ? editForm.get('estateName').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.schemeName" for="field_schemeName">Scheme Name</label>
                    <select class="form-control" id="field_schemeName" name="schemeName" formControlName="schemeName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('schemeName').value?.id ? editForm.get('schemeName').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.district" for="field_district">District</label>
                    <select class="form-control" id="field_district" name="district" formControlName="district">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('district').value?.id ? editForm.get('district').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.localGovernmentArea" for="field_localGovernmentArea">Local Government Area</label>
                    <select class="form-control" id="field_localGovernmentArea" name="localGovernmentArea" formControlName="localGovernmentArea">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('localGovernmentArea').value?.id ? editForm.get('localGovernmentArea').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option *ngIf="!editForm.get('country').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('country').value?.id ? editForm.get('country').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('country').invalid && (editForm.get('country').dirty || editForm.get('country').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('country').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
