<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="party">
            <h2><span jhiTranslate="egisexternalApp.party.detail.title">Party</span> {{party.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.party.primaryParty">Primary Party</span></dt>
                <dd>
                    <span>{{party.primaryParty}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.emailAddress">Email Address</span></dt>
                <dd>
                    <span>{{party.emailAddress}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{party.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.payerId">Payer Id</span></dt>
                <dd>
                    <span>{{party.payerId}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.taxPayerNumber">Tax Payer Number</span></dt>
                <dd>
                    <span>{{party.taxPayerNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.payeNumber">Paye Number</span></dt>
                <dd>
                    <span>{{party.payeNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.comments">Comments</span></dt>
                <dd>
                    <span>{{party.comments}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdDate">Person Id Date</span></dt>
                <dd>
                    <span>{{party.personIdDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdExpirationDate">Person Id Expiration Date</span></dt>
                <dd>
                    <span>{{party.personIdExpirationDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.rcNumber">Rc Number</span></dt>
                <dd>
                    <span>{{party.rcNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.organization">Organization</span></dt>
                <dd>
                    <span>{{party.organization}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthPlace">Birth Place</span></dt>
                <dd>
                    <span>{{party.birthPlace}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{party.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.firstName">First Name</span></dt>
                <dd>
                    <span>{{party.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{party.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.lastName">Last Name</span></dt>
                <dd>
                    <span>{{party.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.occupation">Occupation</span></dt>
                <dd>
                    <span>{{party.occupation}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.unitNumber">Unit Number</span></dt>
                <dd>
                    <span>{{party.unitNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.blockNumber">Block Number</span></dt>
                <dd>
                    <span>{{party.blockNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.plotNumber">Plot Number</span></dt>
                <dd>
                    <span>{{party.plotNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.streetNumber">Street Number</span></dt>
                <dd>
                    <span>{{party.streetNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.streetName">Street Name</span></dt>
                <dd>
                    <span>{{party.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.buildingName">Building Name</span></dt>
                <dd>
                    <span>{{party.buildingName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.buildingNumber">Building Number</span></dt>
                <dd>
                    <span>{{party.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{party.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.city">City</span></dt>
                <dd>
                    <span>{{party.city}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.village">Village</span></dt>
                <dd>
                    <span>{{party.village}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.longAddress">Long Address</span></dt>
                <dd>
                    <span>{{party.longAddress}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.town">Town</span></dt>
                <dd>
                    <span>{{party.town}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.ward">Ward</span></dt>
                <dd>
                    <span>{{party.ward}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.nextOfKinPhone">Next Of Kin Phone</span></dt>
                <dd>
                    <span>{{party.nextOfKinPhone}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.iDDocumentIssuedDate">I D Document Issued Date</span></dt>
                <dd>
                    <span>{{party.iDDocumentIssuedDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.iDDocumentExpirationDate">I D Document Expiration Date</span></dt>
                <dd>
                    <span>{{party.iDDocumentExpirationDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.iDDocumentNumber">I D Document Number</span></dt>
                <dd>
                    <span>{{party.iDDocumentNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span></dt>
                <dd>
                    <div *ngIf="party.partyType">
                        <a [routerLink]="['/dictionary', party.partyType?.id, 'view']">{{party.partyType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyRoleType">Party Role Type</span></dt>
                <dd>
                    <div *ngIf="party.partyRoleType">
                        <a [routerLink]="['/dictionary', party.partyRoleType?.id, 'view']">{{party.partyRoleType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personType">Person Type</span></dt>
                <dd>
                    <div *ngIf="party.personType">
                        <a [routerLink]="['/dictionary', party.personType?.id, 'view']">{{party.personType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.emailType">Email Type</span></dt>
                <dd>
                    <div *ngIf="party.emailType">
                        <a [routerLink]="['/dictionary', party.emailType?.id, 'view']">{{party.emailType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdIssuedBy">Person Id Issued By</span></dt>
                <dd>
                    <div *ngIf="party.personIdIssuedBy">
                        <a [routerLink]="['/dictionary', party.personIdIssuedBy?.id, 'view']">{{party.personIdIssuedBy?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personTitle">Person Title</span></dt>
                <dd>
                    <div *ngIf="party.personTitle">
                        <a [routerLink]="['/dictionary', party.personTitle?.id, 'view']">{{party.personTitle?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.gender">Gender</span></dt>
                <dd>
                    <div *ngIf="party.gender">
                        <a [routerLink]="['/dictionary', party.gender?.id, 'view']">{{party.gender?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.civilState">Civil State</span></dt>
                <dd>
                    <div *ngIf="party.civilState">
                        <a [routerLink]="['/dictionary', party.civilState?.id, 'view']">{{party.civilState?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.driverLicenseRegion">Driver License Region</span></dt>
                <dd>
                    <div *ngIf="party.driverLicenseRegion">
                        <a [routerLink]="['/dictionary', party.driverLicenseRegion?.id, 'view']">{{party.driverLicenseRegion?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.businessNature">Business Nature</span></dt>
                <dd>
                    <div *ngIf="party.businessNature">
                        <a [routerLink]="['/dictionary', party.businessNature?.id, 'view']">{{party.businessNature?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.phoneCategory">Phone Category</span></dt>
                <dd>
                    <div *ngIf="party.phoneCategory">
                        <a [routerLink]="['/dictionary', party.phoneCategory?.id, 'view']">{{party.phoneCategory?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.nextOfKinPhoneCategory">Next Of Kin Phone Category</span></dt>
                <dd>
                    <div *ngIf="party.nextOfKinPhoneCategory">
                        <a [routerLink]="['/dictionary', party.nextOfKinPhoneCategory?.id, 'view']">{{party.nextOfKinPhoneCategory?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.emailCategory">Email Category</span></dt>
                <dd>
                    <div *ngIf="party.emailCategory">
                        <a [routerLink]="['/dictionary', party.emailCategory?.id, 'view']">{{party.emailCategory?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.addressCategory">Address Category</span></dt>
                <dd>
                    <div *ngIf="party.addressCategory">
                        <a [routerLink]="['/dictionary', party.addressCategory?.id, 'view']">{{party.addressCategory?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.iDDocumentType">I D Document Type</span></dt>
                <dd>
                    <div *ngIf="party.iDDocumentType">
                        <a [routerLink]="['/dictionary', party.iDDocumentType?.id, 'view']">{{party.iDDocumentType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.iDDocumentIssuedBy">I D Document Issued By</span></dt>
                <dd>
                    <div *ngIf="party.iDDocumentIssuedBy">
                        <a [routerLink]="['/dictionary', party.iDDocumentIssuedBy?.id, 'view']">{{party.iDDocumentIssuedBy?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.suffixTitle">Suffix Title</span></dt>
                <dd>
                    <div *ngIf="party.suffixTitle">
                        <a [routerLink]="['/dictionary', party.suffixTitle?.id, 'view']">{{party.suffixTitle?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.stateofOrigin">Stateof Origin</span></dt>
                <dd>
                    <div *ngIf="party.stateofOrigin">
                        <a [routerLink]="['/dictionary', party.stateofOrigin?.id, 'view']">{{party.stateofOrigin?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.maritalStatus">Marital Status</span></dt>
                <dd>
                    <div *ngIf="party.maritalStatus">
                        <a [routerLink]="['/dictionary', party.maritalStatus?.id, 'view']">{{party.maritalStatus?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.streetType">Street Type</span></dt>
                <dd>
                    <div *ngIf="party.streetType">
                        <a [routerLink]="['/dictionary', party.streetType?.id, 'view']">{{party.streetType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.estateName">Estate Name</span></dt>
                <dd>
                    <div *ngIf="party.estateName">
                        <a [routerLink]="['/dictionary', party.estateName?.id, 'view']">{{party.estateName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.schemeName">Scheme Name</span></dt>
                <dd>
                    <div *ngIf="party.schemeName">
                        <a [routerLink]="['/dictionary', party.schemeName?.id, 'view']">{{party.schemeName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.district">District</span></dt>
                <dd>
                    <div *ngIf="party.district">
                        <a [routerLink]="['/dictionary', party.district?.id, 'view']">{{party.district?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.localGovernmentArea">Local Government Area</span></dt>
                <dd>
                    <div *ngIf="party.localGovernmentArea">
                        <a [routerLink]="['/dictionary', party.localGovernmentArea?.id, 'view']">{{party.localGovernmentArea?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.country">Country</span></dt>
                <dd>
                    <div *ngIf="party.country">
                        <a [routerLink]="['/dictionary', party.country?.id, 'view']">{{party.country?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party', party.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
