<div>
    <h2 id="page-heading">
        <span jhiTranslate="egisexternalApp.party.home.title">Parties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-party" [routerLink]="['/party/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="egisexternalApp.party.home.createLabel">
            Create a new Party
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'egisexternalApp.party.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="parties?.length === 0">
        <span jhiTranslate="egisexternalApp.party.home.notFound">No parties found</span>
    </div>
    <div class="table-responsive" *ngIf="parties?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.emailAddress">Email Address</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.phoneNumber">Phone Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.payerId">Payer Id</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.taxPayerNumber">Tax Payer Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.payeNumber">Paye Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.comments">Comments</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.personIdDate">Person Id Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.personIdExpirationDate">Person Id Expiration Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.rcNumber">Rc Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.organization">Organization</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.birthPlace">Birth Place</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.birthDate">Birth Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.firstName">First Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.middleName">Middle Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.lastName">Last Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.occupation">Occupation</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.unitNumber">Unit Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.blockNumber">Block Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.plotNumber">Plot Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.streetNumber">Street Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.streetName">Street Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.buildingName">Building Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.buildingNumber">Building Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.postalCode">Postal Code</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.city">City</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.village">Village</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.longAddress">Long Address</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.town">Town</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.ward">Ward</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.nextOfKinPhone">Next Of Kin Phone</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.iDDocumentIssuedDate">I D Document Issued Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.iDDocumentExpirationDate">I D Document Expiration Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.iDDocumentNumber">I D Document Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.primaryParty">Primary Party</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.partyRoleType">Party Role Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.personType">Person Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.emailType">Email Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.personIdIssuedBy">Person Id Issued By</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.personTitle">Person Title</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.gender">Gender</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.civilState">Civil State</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.driverLicenseRegion">Driver License Region</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.businessNature">Business Nature</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.phoneCategory">Phone Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.nextOfKinPhoneCategory">Next Of Kin Phone Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.emailCategory">Email Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.addressCategory">Address Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.iDDocumentType">I D Document Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.iDDocumentIssuedBy">I D Document Issued By</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.suffixTitle">Suffix Title</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.stateofOrigin">Stateof Origin</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.maritalStatus">Marital Status</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.streetType">Street Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.estateName">Estate Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.schemeName">Scheme Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.district">District</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.localGovernmentArea">Local Government Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.party.country">Country</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let party of parties ;trackBy: trackId">
                <td><a [routerLink]="['/party', party.id, 'view' ]">{{party.id}}</a></td>
                <td>{{party.emailAddress}}</td>
                <td>{{party.phoneNumber}}</td>
                <td>{{party.payerId}}</td>
                <td>{{party.taxPayerNumber}}</td>
                <td>{{party.payeNumber}}</td>
                <td>{{party.comments}}</td>
                <td>{{party.personIdDate | date:'mediumDate'}}</td>
                <td>{{party.personIdExpirationDate | date:'mediumDate'}}</td>
                <td>{{party.rcNumber}}</td>
                <td>{{party.organization}}</td>
                <td>{{party.birthPlace}}</td>
                <td>{{party.birthDate | date:'mediumDate'}}</td>
                <td>{{party.firstName}}</td>
                <td>{{party.middleName}}</td>
                <td>{{party.lastName}}</td>
                <td>{{party.occupation}}</td>
                <td>{{party.unitNumber}}</td>
                <td>{{party.blockNumber}}</td>
                <td>{{party.plotNumber}}</td>
                <td>{{party.streetNumber}}</td>
                <td>{{party.streetName}}</td>
                <td>{{party.buildingName}}</td>
                <td>{{party.buildingNumber}}</td>
                <td>{{party.postalCode}}</td>
                <td>{{party.city}}</td>
                <td>{{party.village}}</td>
                <td>{{party.longAddress}}</td>
                <td>{{party.town}}</td>
                <td>{{party.ward}}</td>
                <td>{{party.nextOfKinPhone}}</td>
                <td>{{party.iDDocumentIssuedDate | date:'mediumDate'}}</td>
                <td>{{party.iDDocumentExpirationDate | date:'mediumDate'}}</td>
                <td>{{party.iDDocumentNumber}}</td>
                <td jhiTranslate="{{'egisexternalApp.YesOrNo.' + party.primaryParty}}">{{party.primaryParty}}</td>
                <td>
                    <div *ngIf="party.partyType">
                        <a [routerLink]="['/dictionary', party.partyType?.id, 'view' ]" >{{party.partyType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.partyRoleType">
                        <a [routerLink]="['/dictionary', party.partyRoleType?.id, 'view' ]" >{{party.partyRoleType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.personType">
                        <a [routerLink]="['/dictionary', party.personType?.id, 'view' ]" >{{party.personType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.emailType">
                        <a [routerLink]="['/dictionary', party.emailType?.id, 'view' ]" >{{party.emailType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.personIdIssuedBy">
                        <a [routerLink]="['/dictionary', party.personIdIssuedBy?.id, 'view' ]" >{{party.personIdIssuedBy?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.personTitle">
                        <a [routerLink]="['/dictionary', party.personTitle?.id, 'view' ]" >{{party.personTitle?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.gender">
                        <a [routerLink]="['/dictionary', party.gender?.id, 'view' ]" >{{party.gender?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.civilState">
                        <a [routerLink]="['/dictionary', party.civilState?.id, 'view' ]" >{{party.civilState?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.driverLicenseRegion">
                        <a [routerLink]="['/dictionary', party.driverLicenseRegion?.id, 'view' ]" >{{party.driverLicenseRegion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.businessNature">
                        <a [routerLink]="['/dictionary', party.businessNature?.id, 'view' ]" >{{party.businessNature?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.phoneCategory">
                        <a [routerLink]="['/dictionary', party.phoneCategory?.id, 'view' ]" >{{party.phoneCategory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.nextOfKinPhoneCategory">
                        <a [routerLink]="['/dictionary', party.nextOfKinPhoneCategory?.id, 'view' ]" >{{party.nextOfKinPhoneCategory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.emailCategory">
                        <a [routerLink]="['/dictionary', party.emailCategory?.id, 'view' ]" >{{party.emailCategory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.addressCategory">
                        <a [routerLink]="['/dictionary', party.addressCategory?.id, 'view' ]" >{{party.addressCategory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.iDDocumentType">
                        <a [routerLink]="['/dictionary', party.iDDocumentType?.id, 'view' ]" >{{party.iDDocumentType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.iDDocumentIssuedBy">
                        <a [routerLink]="['/dictionary', party.iDDocumentIssuedBy?.id, 'view' ]" >{{party.iDDocumentIssuedBy?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.suffixTitle">
                        <a [routerLink]="['/dictionary', party.suffixTitle?.id, 'view' ]" >{{party.suffixTitle?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.stateofOrigin">
                        <a [routerLink]="['/dictionary', party.stateofOrigin?.id, 'view' ]" >{{party.stateofOrigin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.maritalStatus">
                        <a [routerLink]="['/dictionary', party.maritalStatus?.id, 'view' ]" >{{party.maritalStatus?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.streetType">
                        <a [routerLink]="['/dictionary', party.streetType?.id, 'view' ]" >{{party.streetType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.estateName">
                        <a [routerLink]="['/dictionary', party.estateName?.id, 'view' ]" >{{party.estateName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.schemeName">
                        <a [routerLink]="['/dictionary', party.schemeName?.id, 'view' ]" >{{party.schemeName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.district">
                        <a [routerLink]="['/dictionary', party.district?.id, 'view' ]" >{{party.district?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.localGovernmentArea">
                        <a [routerLink]="['/dictionary', party.localGovernmentArea?.id, 'view' ]" >{{party.localGovernmentArea?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="party.country">
                        <a [routerLink]="['/dictionary', party.country?.id, 'view' ]" >{{party.country?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/party', party.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/party', party.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(party)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
