<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-party-heading" jhiTranslate="egisexternalApp.party.home.createOrEditLabel">Create or edit a Party</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyName" for="field_partyName">Party Name</label>
                    <input type="text" class="form-control" name="partyName" id="field_partyName"
                           formControlName="partyName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.shareNominator" for="field_shareNominator">Share Nominator</label>
                    <input type="text" class="form-control" name="shareNominator" id="field_shareNominator"
                           formControlName="shareNominator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.shareDenominator" for="field_shareDenominator">Share Denominator</label>
                    <input type="text" class="form-control" name="shareDenominator" id="field_shareDenominator"
                           formControlName="shareDenominator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.taxExempt" for="field_taxExempt">Tax Exempt</label>
                    <input type="text" class="form-control" name="taxExempt" id="field_taxExempt"
                           formControlName="taxExempt"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.otherName" for="field_otherName">Other Name</label>
                    <input type="text" class="form-control" name="otherName" id="field_otherName"
                           formControlName="otherName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.fax" for="field_fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="field_fax"
                           formControlName="fax"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.payerId" for="field_payerId">Payer Id</label>
                    <input type="text" class="form-control" name="payerId" id="field_payerId"
                           formControlName="payerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.taxPayerNumber" for="field_taxPayerNumber">Tax Payer Number</label>
                    <input type="text" class="form-control" name="taxPayerNumber" id="field_taxPayerNumber"
                           formControlName="taxPayerNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdDate" for="field_personIdDate">Person Id Date</label>
                    <div class="input-group">
                        <input id="field_personIdDate" type="text" class="form-control" name="personIdDate" ngbDatepicker  #personIdDateDp="ngbDatepicker" formControlName="personIdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdExpirationDate" for="field_personIdExpirationDate">Person Id Expiration Date</label>
                    <div class="input-group">
                        <input id="field_personIdExpirationDate" type="text" class="form-control" name="personIdExpirationDate" ngbDatepicker  #personIdExpirationDateDp="ngbDatepicker" formControlName="personIdExpirationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdExpirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.rcNumber" for="field_rcNumber">Rc Number</label>
                    <input type="text" class="form-control" name="rcNumber" id="field_rcNumber"
                           formControlName="rcNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.organization" for="field_organization">Organization</label>
                    <input type="text" class="form-control" name="organization" id="field_organization"
                           formControlName="organization"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.businessNature" for="field_businessNature">Business Nature</label>
                    <input type="text" class="form-control" name="businessNature" id="field_businessNature"
                           formControlName="businessNature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthPlace" for="field_birthPlace">Birth Place</label>
                    <input type="text" class="form-control" name="birthPlace" id="field_birthPlace"
                           formControlName="birthPlace"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.driverLicence" for="field_driverLicence">Driver Licence</label>
                    <input type="text" class="form-control" name="driverLicence" id="field_driverLicence"
                           formControlName="driverLicence"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.professionRegNo" for="field_professionRegNo">Profession Reg No</label>
                    <input type="text" class="form-control" name="professionRegNo" id="field_professionRegNo"
                           formControlName="professionRegNo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.occupation" for="field_occupation">Occupation</label>
                    <input type="text" class="form-control" name="occupation" id="field_occupation"
                           formControlName="occupation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" formControlName="address">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id === editForm.get('address').value?.id ? editForm.get('address').value : addressOption" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyType" for="field_partyType">Party Type</label>
                    <select class="form-control" id="field_partyType" name="partyType" formControlName="partyType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyType').value?.id ? editForm.get('partyType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyRoleType" for="field_partyRoleType">Party Role Type</label>
                    <select class="form-control" id="field_partyRoleType" name="partyRoleType" formControlName="partyRoleType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyRoleType').value?.id ? editForm.get('partyRoleType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partySubRoleType" for="field_partySubRoleType">Party Sub Role Type</label>
                    <select class="form-control" id="field_partySubRoleType" name="partySubRoleType" formControlName="partySubRoleType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('partySubRoleType').value?.id ? editForm.get('partySubRoleType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.deliveryType" for="field_deliveryType">Delivery Type</label>
                    <select class="form-control" id="field_deliveryType" name="deliveryType" formControlName="deliveryType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('deliveryType').value?.id ? editForm.get('deliveryType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.primaryParty" for="field_primaryParty">Primary Party</label>
                    <select class="form-control" id="field_primaryParty" name="primaryParty" formControlName="primaryParty">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('primaryParty').value?.id ? editForm.get('primaryParty').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdType" for="field_personIdType">Person Id Type</label>
                    <select class="form-control" id="field_personIdType" name="personIdType" formControlName="personIdType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personIdType').value?.id ? editForm.get('personIdType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personType" for="field_personType">Person Type</label>
                    <select class="form-control" id="field_personType" name="personType" formControlName="personType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personType').value?.id ? editForm.get('personType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailType" for="field_emailType">Email Type</label>
                    <select class="form-control" id="field_emailType" name="emailType" formControlName="emailType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('emailType').value?.id ? editForm.get('emailType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdIssuedBy" for="field_personIdIssuedBy">Person Id Issued By</label>
                    <select class="form-control" id="field_personIdIssuedBy" name="personIdIssuedBy" formControlName="personIdIssuedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personIdIssuedBy').value?.id ? editForm.get('personIdIssuedBy').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personTitle" for="field_personTitle">Person Title</label>
                    <select class="form-control" id="field_personTitle" name="personTitle" formControlName="personTitle">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personTitle').value?.id ? editForm.get('personTitle').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.gender" for="field_gender">Gender</label>
                    <select class="form-control" id="field_gender" name="gender" formControlName="gender">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('gender').value?.id ? editForm.get('gender').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.civilState" for="field_civilState">Civil State</label>
                    <select class="form-control" id="field_civilState" name="civilState" formControlName="civilState">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('civilState').value?.id ? editForm.get('civilState').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.driverLicenseRegion" for="field_driverLicenseRegion">Driver License Region</label>
                    <select class="form-control" id="field_driverLicenseRegion" name="driverLicenseRegion" formControlName="driverLicenseRegion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('driverLicenseRegion').value?.id ? editForm.get('driverLicenseRegion').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.representativeId" for="field_representativeId">Representative Id</label>
                    <select class="form-control" id="field_representativeId" name="representativeId" formControlName="representativeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('representativeId').value?.id ? editForm.get('representativeId').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
