<nav id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"><fa-icon icon="home"></fa-icon> Lagos eGIS Project</a></li>
        <li class="breadcrumb-item"><a routerLink="/">Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">Copyright Information</li>
    </ol>
</nav>
<div class="container page-header">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="border-bottom">Copyright Information</h2>
        </div>
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col-lg-9">
            
        </div>
        <div class="col-lg-3">
            <jhi-relatedinformation></jhi-relatedinformation>
        </div>
    </div>
</div>
