<div>
    <h2 id="page-heading">
        <span jhiTranslate="egisexternalApp.address.home.title">Addresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/address/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="egisexternalApp.address.home.createLabel">
            Create a new Address
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'egisexternalApp.address.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="addresses?.length === 0">
        <span jhiTranslate="egisexternalApp.address.home.notFound">No addresses found</span>
    </div>
    <div class="table-responsive" *ngIf="addresses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.addressAreaName">Address Area Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.streetName">Street Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.buildingName">Building Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.buildingNumber">Building Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.postalCode">Postal Code</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.city">City</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.village">Village</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.streetNumber">Street Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.town">Town</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.ward">Ward</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.blockNumber">Block Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.plotNumber">Plot Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.country">Country</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.region">Region</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.district">District</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.state">State</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.estateName">Estate Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.localGovernmentArea">Local Government Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.localCouncilArea">Local Council Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.streetType">Street Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.stateOfOrigin">State Of Origin</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.schemeName">Scheme Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.address.category">Category</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['/address', address.id, 'view' ]">{{address.id}}</a></td>
                <td>{{address.addressAreaName}}</td>
                <td>{{address.streetName}}</td>
                <td>{{address.buildingName}}</td>
                <td>{{address.buildingNumber}}</td>
                <td>{{address.postalCode}}</td>
                <td>{{address.city}}</td>
                <td>{{address.village}}</td>
                <td>{{address.streetNumber}}</td>
                <td>{{address.town}}</td>
                <td>{{address.ward}}</td>
                <td>{{address.blockNumber}}</td>
                <td>{{address.plotNumber}}</td>
                <td>
                    <div *ngIf="address.country">
                        <a [routerLink]="['/dictionary', address.country?.id, 'view' ]" >{{address.country?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.region">
                        <a [routerLink]="['/dictionary', address.region?.id, 'view' ]" >{{address.region?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.district">
                        <a [routerLink]="['/dictionary', address.district?.id, 'view' ]" >{{address.district?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.state">
                        <a [routerLink]="['/dictionary', address.state?.id, 'view' ]" >{{address.state?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.estateName">
                        <a [routerLink]="['/dictionary', address.estateName?.id, 'view' ]" >{{address.estateName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.localGovernmentArea">
                        <a [routerLink]="['/dictionary', address.localGovernmentArea?.id, 'view' ]" >{{address.localGovernmentArea?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.localCouncilArea">
                        <a [routerLink]="['/dictionary', address.localCouncilArea?.id, 'view' ]" >{{address.localCouncilArea?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.streetType">
                        <a [routerLink]="['/dictionary', address.streetType?.id, 'view' ]" >{{address.streetType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.stateOfOrigin">
                        <a [routerLink]="['/dictionary', address.stateOfOrigin?.id, 'view' ]" >{{address.stateOfOrigin?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.schemeName">
                        <a [routerLink]="['/dictionary', address.schemeName?.id, 'view' ]" >{{address.schemeName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.category">
                        <a [routerLink]="['/dictionary', address.category?.id, 'view' ]" >{{address.category?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/address', address.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/address', address.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(address)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
