<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="egisexternalApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.address.addressAreaName">Address Area Name</span></dt>
                <dd>
                    <span>{{address.addressAreaName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.streetName">Street Name</span></dt>
                <dd>
                    <span>{{address.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.buildingName">Building Name</span></dt>
                <dd>
                    <span>{{address.buildingName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.buildingNumber">Building Number</span></dt>
                <dd>
                    <span>{{address.buildingNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{address.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.city">City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.village">Village</span></dt>
                <dd>
                    <span>{{address.village}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.streetNumber">Street Number</span></dt>
                <dd>
                    <span>{{address.streetNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.town">Town</span></dt>
                <dd>
                    <span>{{address.town}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.ward">Ward</span></dt>
                <dd>
                    <span>{{address.ward}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.blockNumber">Block Number</span></dt>
                <dd>
                    <span>{{address.blockNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.plotNumber">Plot Number</span></dt>
                <dd>
                    <span>{{address.plotNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.country">Country</span></dt>
                <dd>
                    <div *ngIf="address.country">
                        <a [routerLink]="['/dictionary', address.country?.id, 'view']">{{address.country?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.region">Region</span></dt>
                <dd>
                    <div *ngIf="address.region">
                        <a [routerLink]="['/dictionary', address.region?.id, 'view']">{{address.region?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.district">District</span></dt>
                <dd>
                    <div *ngIf="address.district">
                        <a [routerLink]="['/dictionary', address.district?.id, 'view']">{{address.district?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.state">State</span></dt>
                <dd>
                    <div *ngIf="address.state">
                        <a [routerLink]="['/dictionary', address.state?.id, 'view']">{{address.state?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.estateName">Estate Name</span></dt>
                <dd>
                    <div *ngIf="address.estateName">
                        <a [routerLink]="['/dictionary', address.estateName?.id, 'view']">{{address.estateName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.localGovernmentArea">Local Government Area</span></dt>
                <dd>
                    <div *ngIf="address.localGovernmentArea">
                        <a [routerLink]="['/dictionary', address.localGovernmentArea?.id, 'view']">{{address.localGovernmentArea?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.localCouncilArea">Local Council Area</span></dt>
                <dd>
                    <div *ngIf="address.localCouncilArea">
                        <a [routerLink]="['/dictionary', address.localCouncilArea?.id, 'view']">{{address.localCouncilArea?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.streetType">Street Type</span></dt>
                <dd>
                    <div *ngIf="address.streetType">
                        <a [routerLink]="['/dictionary', address.streetType?.id, 'view']">{{address.streetType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.stateOfOrigin">State Of Origin</span></dt>
                <dd>
                    <div *ngIf="address.stateOfOrigin">
                        <a [routerLink]="['/dictionary', address.stateOfOrigin?.id, 'view']">{{address.stateOfOrigin?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.schemeName">Scheme Name</span></dt>
                <dd>
                    <div *ngIf="address.schemeName">
                        <a [routerLink]="['/dictionary', address.schemeName?.id, 'view']">{{address.schemeName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.address.category">Category</span></dt>
                <dd>
                    <div *ngIf="address.category">
                        <a [routerLink]="['/dictionary', address.category?.id, 'view']">{{address.category?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
