<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="party">
            <h2><span jhiTranslate="egisexternalApp.party.detail.title">Party</span> {{party.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.party.partyName">Party Name</span></dt>
                <dd>
                    <span>{{party.partyName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.shareNominator">Share Nominator</span></dt>
                <dd>
                    <span>{{party.shareNominator}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.shareDenominator">Share Denominator</span></dt>
                <dd>
                    <span>{{party.shareDenominator}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.taxExempt">Tax Exempt</span></dt>
                <dd>
                    <span>{{party.taxExempt}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.otherName">Other Name</span></dt>
                <dd>
                    <span>{{party.otherName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.fax">Fax</span></dt>
                <dd>
                    <span>{{party.fax}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.email">Email</span></dt>
                <dd>
                    <span>{{party.email}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{party.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.payerId">Payer Id</span></dt>
                <dd>
                    <span>{{party.payerId}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.taxPayerNumber">Tax Payer Number</span></dt>
                <dd>
                    <span>{{party.taxPayerNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.comments">Comments</span></dt>
                <dd>
                    <span>{{party.comments}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdDate">Person Id Date</span></dt>
                <dd>
                    <span>{{party.personIdDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdExpirationDate">Person Id Expiration Date</span></dt>
                <dd>
                    <span>{{party.personIdExpirationDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.rcNumber">Rc Number</span></dt>
                <dd>
                    <span>{{party.rcNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.organization">Organization</span></dt>
                <dd>
                    <span>{{party.organization}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.businessNature">Business Nature</span></dt>
                <dd>
                    <span>{{party.businessNature}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthPlace">Birth Place</span></dt>
                <dd>
                    <span>{{party.birthPlace}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{party.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.firstName">First Name</span></dt>
                <dd>
                    <span>{{party.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{party.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.lastName">Last Name</span></dt>
                <dd>
                    <span>{{party.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.driverLicence">Driver Licence</span></dt>
                <dd>
                    <span>{{party.driverLicence}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.professionRegNo">Profession Reg No</span></dt>
                <dd>
                    <span>{{party.professionRegNo}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.occupation">Occupation</span></dt>
                <dd>
                    <span>{{party.occupation}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.address">Address</span></dt>
                <dd>
                    <div *ngIf="party.address">
                        <a [routerLink]="['/address', party.address?.id, 'view']">{{party.address?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span></dt>
                <dd>
                    <div *ngIf="party.partyType">
                        <a [routerLink]="['/dictionary', party.partyType?.id, 'view']">{{party.partyType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyRoleType">Party Role Type</span></dt>
                <dd>
                    <div *ngIf="party.partyRoleType">
                        <a [routerLink]="['/dictionary', party.partyRoleType?.id, 'view']">{{party.partyRoleType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partySubRoleType">Party Sub Role Type</span></dt>
                <dd>
                    <div *ngIf="party.partySubRoleType">
                        <a [routerLink]="['/dictionary', party.partySubRoleType?.id, 'view']">{{party.partySubRoleType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.deliveryType">Delivery Type</span></dt>
                <dd>
                    <div *ngIf="party.deliveryType">
                        <a [routerLink]="['/dictionary', party.deliveryType?.id, 'view']">{{party.deliveryType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.primaryParty">Primary Party</span></dt>
                <dd>
                    <div *ngIf="party.primaryParty">
                        <a [routerLink]="['/dictionary', party.primaryParty?.id, 'view']">{{party.primaryParty?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdType">Person Id Type</span></dt>
                <dd>
                    <div *ngIf="party.personIdType">
                        <a [routerLink]="['/dictionary', party.personIdType?.id, 'view']">{{party.personIdType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personType">Person Type</span></dt>
                <dd>
                    <div *ngIf="party.personType">
                        <a [routerLink]="['/dictionary', party.personType?.id, 'view']">{{party.personType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.emailType">Email Type</span></dt>
                <dd>
                    <div *ngIf="party.emailType">
                        <a [routerLink]="['/dictionary', party.emailType?.id, 'view']">{{party.emailType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdIssuedBy">Person Id Issued By</span></dt>
                <dd>
                    <div *ngIf="party.personIdIssuedBy">
                        <a [routerLink]="['/dictionary', party.personIdIssuedBy?.id, 'view']">{{party.personIdIssuedBy?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personTitle">Person Title</span></dt>
                <dd>
                    <div *ngIf="party.personTitle">
                        <a [routerLink]="['/dictionary', party.personTitle?.id, 'view']">{{party.personTitle?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.gender">Gender</span></dt>
                <dd>
                    <div *ngIf="party.gender">
                        <a [routerLink]="['/dictionary', party.gender?.id, 'view']">{{party.gender?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.civilState">Civil State</span></dt>
                <dd>
                    <div *ngIf="party.civilState">
                        <a [routerLink]="['/dictionary', party.civilState?.id, 'view']">{{party.civilState?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.driverLicenseRegion">Driver License Region</span></dt>
                <dd>
                    <div *ngIf="party.driverLicenseRegion">
                        <a [routerLink]="['/dictionary', party.driverLicenseRegion?.id, 'view']">{{party.driverLicenseRegion?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.representativeId">Representative Id</span></dt>
                <dd>
                    <div *ngIf="party.representativeId">
                        <a [routerLink]="['/dictionary', party.representativeId?.id, 'view']">{{party.representativeId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party', party.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
