<h5 class="sub-header mt-4 mb-4" id="jhi-party-heading" jhiTranslate="egisexternalApp.party.home.createOrEditLabel">Create (or Edit) a Party</h5>
<div class="row">
    <div class="col-12">
        <blockquote class="blockquote">
            <p class="mb-0">
                For <strong>Legal Role</strong>, a party can either be an Applicant or an Agent. In this context, <strong>An applicant</strong> is a person(s) who signs up for a transaction and whoses name(s) will be on the title document or resulting documents/reports of any transaction. Please note that more than one applicant can exist for an application (for example a couple, siblings, business partners etc.). <strong>An agent</strong> is someone who executes a transaction/application on behalf of the applicant(s); the agent name will not be placed on any title document or resulting document/report of any transaction.<hr>
                The field marked (<span style="color:red">*</span>) are mandatory fields. Please note that, you may not have more than one Agent per transaction/application.
            </p>
        </blockquote>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [hidden]="!editForm.get('id').value">
                <input type="hidden" class="form-control" id="id" name="id" formControlName="id" readonly>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyType" for="field_partyType">Party Type</label>
                    <select class="form-control" id="field_partyType" name="partyType" formControlName="partyType">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyType').value?.id ? editForm.get('partyType').value : dictionaryOption" *ngFor="let dictionaryOption of partyTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                        <!-- @wadetiba. How can we have only Individual & Organisation?-->
                    </select>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.partyRoleType" for="field_partyRoleType">Legal Role</label>
                    <select class="form-control" id="field_partyRoleType" name="partyRoleType" formControlName="partyRoleType">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="dictionaryOption.id === editForm.get('partyRoleType').value?.id ? editForm.get('partyRoleType').value : dictionaryOption" *ngFor="let dictionaryOption of partyRoleTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                        <!-- @wadetiba. How can we have only Applicant & Agent here?-->
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.primaryParty" for="field_primaryParty">Primary Party</label>
                    <select class="form-control" name="primaryParty" formControlName="primaryParty" id="field_primaryParty">
                        <option value="">Please choose </option>
                        <option value="Y">I am the primary Applicant</option>
                        <option value="N">I am NOT the primary Applicant</option>
                    </select>

                    <div *ngIf="editForm.get('primaryParty').invalid && (editForm.get('primaryParty').dirty || editForm.get('primaryParty').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('primaryParty').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <h6 class="sub-header-style-2 pt-3"><span>Applicant Information</span></h6>
            <!-- Organisation -->
            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.organization" for="field_organization">Organization Name</label>
                    <input type="text" class="form-control" name="organization" id="field_organization" formControlName="organization"/>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.rcNumber" for="field_rcNumber">RC Number</label>
                    <input type="text" class="form-control" name="rcNumber" id="field_rcNumber" formControlName="rcNumber"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.businessNature" for="field_businessNature">Salutation</label>
                    <select class="form-control" id="field_businessNature" name="businessNature" formControlName="businessNature">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="dictionaryOption.id === editForm.get('businessNature').value?.id ? editForm.get('businessNature').value : dictionaryOption" *ngFor="let dictionaryOption of natureOfBuss; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>

                </div>
            </div>
            <!-- /end Organisation -->
            <!-- Individual -->
            <div class="form-row">
                <div class="form-group col-md-1">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personTitle" for="field_personTitle">Salutation</label>
                    <select class="form-control" id="field_personTitle" name="personTitle" formControlName="personTitle">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="dictionaryOption.id === editForm.get('personTitle').value?.id ? editForm.get('personTitle').value : dictionaryOption" *ngFor="let dictionaryOption of personTitles; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName" formControlName="lastName"/>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName" formControlName="firstName"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName" formControlName="middleName"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.gender" for="field_gender">Gender</label>
                    <select class="form-control" id="field_gender" name="gender" formControlName="gender">
                        <!-- <option [ngValue]="null"></option> -->
                        <option [ngValue]="dictionaryOption.id === editForm.get('gender').value?.id ? editForm.get('gender').value : dictionaryOption" *ngFor="let dictionaryOption of genders; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.occupation" for="field_occupation">Occupation</label>
                    <input type="text" class="form-control" name="occupation" id="field_occupation" formControlName="occupation"/>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthPlace" for="field_birthPlace">Place of Birth</label>
                    <input type="text" class="form-control" name="birthPlace" id="field_birthPlace" formControlName="birthPlace"/>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.birthDate" for="field_birthDate">Date of Birth</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.stateofOrigin" for="field_stateofOrigin">Stateof Origin</label>
                    <select class="form-control" id="field_stateofOrigin" name="stateofOrigin" formControlName="stateofOrigin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('stateofOrigin').value?.id ? editForm.get('stateofOrigin').value : dictionaryOption" *ngFor="let dictionaryOption of statesOfOrigin; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.maritalStatus" for="field_maritalStatus">Marital Status</label>
                    <select class="form-control" id="field_maritalStatus" name="maritalStatus" formControlName="maritalStatus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('maritalStatus').value?.id ? editForm.get('maritalStatus').value : dictionaryOption" *ngFor="let dictionaryOption of maritalStatuses; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentType" for="field_personIdType">ID Document Type</label>
                    <select class="form-control" id="field_iDDocumentType" name="iDDocumentType" formControlName="iDDocumentType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('iDDocumentType').value?.id ? editForm.get('iDDocumentType').value : dictionaryOption" *ngFor="let dictionaryOption of documentTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                    <!-- @wadetiba. National ID Card, Voter's Card, Driver's Licence and International Pasport are valid means of identification -->
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdDate" for="field_personIdDate">ID Document Issued Date</label>
                    <div class="input-group">
                        <input id="field_personIdDate" type="text" class="form-control" name="personIdDate" ngbDatepicker  #personIdDateDp="ngbDatepicker" formControlName="personIdDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdExpirationDate" for="field_personIdExpirationDate">ID Document Expiration Date</label>
                    <div class="input-group">
                        <input id="field_personIdExpirationDate" type="text" class="form-control" name="personIdExpirationDate" ngbDatepicker  #personIdExpirationDateDp="ngbDatepicker" formControlName="personIdExpirationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="personIdExpirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.personIdIssuedBy" for="field_personIdIssuedBy">ID Document Issued By</label>
                    <select class="form-control" id="field_personIdIssuedBy" name="personIdIssuedBy" formControlName="personIdIssuedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('personIdIssuedBy').value?.id ? editForm.get('personIdIssuedBy').value : dictionaryOption" *ngFor="let dictionaryOption of issuedBys; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                    <!-- @wadetib. Although same as Registry, I recommend we streamline with respect to ID Document Type - Federal Government of Nigeria, INEC, Federal Road Safety Commission & The Nigeria Immigration Service. -->
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.iDDocumentNumber" for="field_iDDocumentNumber">I D Document Number</label>
                    <input type="text" class="form-control" name="iDDocumentNumber" id="field_iDDocumentNumber"
                           formControlName="iDDocumentNumber"/>
                </div>
            </div>
            <!-- /end Individual -->
            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.payerId" for="field_payerId">Payer ID</label>
                    <input type="text" class="form-control" name="payerId" id="field_payerId" formControlName="payerId"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.taxPayerNumber" for="field_taxPayerNumber">Tax Payer Number</label>
                    <input type="text" class="form-control" name="taxPayerNumber" id="field_taxPayerNumber" formControlName="taxPayerNumber"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.payeNumber" for="field_payeNumber">Paye Number</label>
                    <input type="text" class="form-control" name="payeNumber" id="field_payeNumber"
                           formControlName="payeNumber"/>
                </div>
            </div>
            <h6 class="sub-header-style-2 pt-3"><span>Contact Information</span></h6>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.longAddress" for="field_address">Address</label>
                    <!-- <textarea rows="4" class="form-control" id="field_longAddress" name="longAddress" formControlName="longAddress"></textarea> -->
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailAddress" for="field_email">Email</label>
                    <input type="emailAddress" class="form-control" name="emailAddress" id="field_emailAddress" formControlName="emailAddress"/>

                    <div *ngIf="editForm.get('emailAddress').invalid && (editForm.get('emailAddress').dirty || editForm.get('emailAddress').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('emailAddress').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.emailType" for="field_emailType">Email Type</label>
                    <select class="form-control" id="field_emailType" name="emailType" formControlName="emailType">
                        <option *ngIf="!editForm.get('emailType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('emailType').value?.id ? editForm.get('emailType').value : dictionaryOption" *ngFor="let dictionaryOption of emailTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('emailType').invalid && (editForm.get('emailType').dirty || editForm.get('emailType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('emailType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group col-md-2 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.phoneCategory" for="field_phoneCategory">Phone Category</label>
                    <select class="form-control" id="field_phoneCategory" name="phoneCategory" formControlName="phoneCategory">
                        <option *ngIf="!editForm.get('phoneCategory').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('phoneCategory').value?.id ? editForm.get('phoneCategory').value : dictionaryOption" *ngFor="let dictionaryOption of phoneCategories; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('phoneCategory').invalid && (editForm.get('phoneCategory').dirty || editForm.get('phoneCategory').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('phoneCategory').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.blockNumber" for="field_blockNumber">Block Number</label>
                    <input type="text" class="form-control" name="blockNumber" id="field_blockNumber"
                           formControlName="blockNumber"/>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.plotNumber" for="field_plotNumber">Plot Number</label>
                    <input type="text" class="form-control" name="plotNumber" id="field_plotNumber"
                           formControlName="plotNumber"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetNumber" for="field_streetNumber">Street Number</label>
                    <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                           formControlName="streetNumber"/>
                </div>
                <div class="form-group col-md-8">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetName" for="field_streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName" id="field_streetName"
                           formControlName="streetName"/>
                </div>
                <div class="form-group col-md-2">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.streetType" for="field_streetType">Street Type</label>
                    <select class="form-control" id="field_streetType" name="streetType" formControlName="streetType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('streetType').value?.id ? editForm.get('streetType').value : dictionaryOption" *ngFor="let dictionaryOption of streetTypes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.estateName" for="field_estateName">Estate Name</label>
                    <select class="form-control" id="field_estateName" name="estateName" formControlName="estateName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('estateName').value?.id ? editForm.get('estateName').value : dictionaryOption" *ngFor="let dictionaryOption of estates; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.schemeName" for="field_schemeName">Scheme Name</label>
                    <select class="form-control" id="field_schemeName" name="schemeName" formControlName="schemeName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('schemeName').value?.id ? editForm.get('schemeName').value : dictionaryOption" *ngFor="let dictionaryOption of schemes; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.district" for="field_district">District</label>
                    <select class="form-control" id="field_district" name="district" formControlName="district">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('district').value?.id ? editForm.get('district').value : dictionaryOption" *ngFor="let dictionaryOption of districts; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.town" for="field_town">Town</label>
                    <input type="text" class="form-control" name="town" id="field_town"
                           formControlName="town"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.village" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                           formControlName="village"/>
                </div>
                <div class="form-group col-md-4">

                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.ward" for="field_ward">Ward</label>
                    <input type="text" class="form-control" name="ward" id="field_ward"
                           formControlName="ward"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.localGovernmentArea" for="field_localGovernmentArea">Local Government Area</label>
                    <select class="form-control" id="field_localGovernmentArea" name="localGovernmentArea" formControlName="localGovernmentArea">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('localGovernmentArea').value?.id ? editForm.get('localGovernmentArea').value : dictionaryOption" *ngFor="let dictionaryOption of lgas; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.civilState" for="field_civilState">State of Origin</label>
                    <select class="form-control" id="field_civilState" name="civilState" formControlName="civilState">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('civilState').value?.id ? editForm.get('civilState').value : dictionaryOption" *ngFor="let dictionaryOption of civilStates; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4 required">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.party.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option *ngIf="!editForm.get('country').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('country').value?.id ? editForm.get('country').value : dictionaryOption" *ngFor="let dictionaryOption of countries; trackBy: trackDictionaryById">{{dictionaryOption.label}}</option>
                    </select>
                    <div *ngIf="editForm.get('country').invalid && (editForm.get('country').dirty || editForm.get('country').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('country').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <button type="button" id="cancel-save" class="btn btn-outline-secondary"  (click)="previousState()">
                <fa-icon icon="chevron-left"></fa-icon> <span jhiTranslate="entity.action.cancel">Back</span>
            </button>
            <button type="reset" class="btn btn-outline-secondary">
                <fa-icon [icon]="'redo'"></fa-icon> Clear</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-outline-secondary">
                <fa-icon [icon]="'save'"></fa-icon> <span jhiTranslate="entity.action.save">Save</span>
            </button>
        </form>
    </div>
</div>
