<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h6 class="text-right">{{message}}</h6>
        <h1 class="text-capitalize text-center" jhiTranslate="applicationtransdetail.title">Title</h1>
        <h5 class="text-center" jhiTranslate="applicationtransdetail.subtitle">Subtitle</h5>
        <hr />

        </p>
        <div>

        </div>

        <!-- Party-->
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <form name="createNewParty" class="form-inline">
                        <input type="hidden" name="batch_id" id="batch_id">
                    </form>
                    <div class="input-group w-100 mt-3">
                        <button type="submit" id="jh-create-entity" class="btn btn-primary float-right
                        jh-create-entity create-address" (click)="editNewApplicant('new',batch.id, 0)">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down">
                                Create a new Party
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div class="alert alert-warning" *ngIf="parties?.length === 0">
                <span jhiTranslate="egisexternalApp.party.home.notFound">No parties found</span>
            </div>
            <div>
                Length of the array for parties = {{parties?.length}}
            </div>
            <div class="table-responsive" *ngIf="parties?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>

                        <tr>
                            <th scope="col"><span jhiTranslate="global.field.id">ID</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.party.name">Name</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let party of parties ;trackBy: trackId">
                            <td><a [routerLink]="['/party', party.id, 'view' ]">{{party.id}}</a></td>
                            <td>{{party.partyType}}</td>
                            <td>{{party.partyRoleType}}</td>
                            <td>{{party.name}}</td>
                            <td>
                                <div *ngIf="party.person">
                                    <a [routerLink]="['/person', party.person?.id, 'view' ]">{{party.person?.id}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit" (click)="editNewApplicant('edit',batch.id, party.id)"
                                        class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit" (click)="delete(party)" class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline"
                                            jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Suppuorting Document-->
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <form name="createNewSupportDoc" class="form-inline">
                        <input type="hidden" name="batch_id" id="batch_id">
                        <div class="input-group w-100 mt-3">

                            <button type="submit" id="jh-create-entity" class="btn btn-primary float-right
                            jh-create-entity create-address" (click)="editNewDocument('new',batch.id, 0)">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span class="hidden-sm-down">
                                    Add Supporting Document
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="alert alert-warning" *ngIf="supportingDocuments?.length === 0">
                <span jhiTranslate="egisexternalApp.supportingDocument.home.notFound">No supportingDocuments
                    found</span>
            </div>
            <div class="table-responsive" *ngIf="supportingDocuments?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr>
                            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                            <th scope="col"><span
                                    jhiTranslate="egisexternalApp.supportingDocument.documentNumber">Document
                                    Number</span></th>
                            <th scope="col"><span
                                    jhiTranslate="egisexternalApp.supportingDocument.documentType">Document Type</span>
                            </th>
                            <th scope="col"><span
                                    jhiTranslate="egisexternalApp.supportingDocument.ownershipArea">Ownership
                                    Area</span></th>
                            <th scope="col"><span
                                    jhiTranslate="egisexternalApp.supportingDocument.documentSubType">Document Sub
                                    Type</span></th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.supportingDocument.issuedBy">Issued
                                    By</span></th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.supportingDocument.pageCount">Page
                                    Count</span></th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.supportingDocument.status">Status</span>
                            </th>
                            <th scope="col"><span
                                    jhiTranslate="egisexternalApp.supportingDocument.provided">Provided</span></th>
                            <th scope="col"><span jhiTranslate="egisexternalApp.supportingDocument.page">Page</span>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let supportingDocument of supportingDocuments ;trackBy: trackId">
                            <td><a
                                    [routerLink]="['/supporting-document', supportingDocument.id, 'view' ]">{{supportingDocument.id}}</a>
                            </td>
                            <td>{{supportingDocument.documentNumber}}</td>
                            <td>{{supportingDocument.documentType}}</td>
                            <td>{{supportingDocument.ownershipArea}}</td>
                            <td>{{supportingDocument.documentSubType}}</td>
                            <td>{{supportingDocument.issuedBy}}</td>
                            <td>{{supportingDocument.pageCount}}</td>
                            <td>{{supportingDocument.status}}</td>
                            <td>{{supportingDocument.provided}}</td>
                            <td>
                                <span *ngFor="let page of supportingDocument.pages; let last = last">
                                    <a class="form-control-static"
                                        [routerLink]="['/document-page', page?.id, 'view' ]">{{page.id}}</a>{{last ? '' : ', '}}
                                </span>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit" (click)="editNewDocument('edit',batch.id, supportingDocument.id)"
                                        class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit" (click)="delete(supportingDocument)"
                                        class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline"
                                            jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Property-->
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <form name="formeditNewProperty" class="form-inline">
                        <input type="hidden" name="batch_id" id="batch_id">
                        <div class="input-group w-100 mt-3">
                            {{parcels.length}}
                            <div *ngIf="parcels === undefined  else notActive">
                                <button type="submit" id="jh-create-entity" class="btn btn-primary float-right
                    jh-create-entity create-address" (click)="editNewProperty('new',0, batch.id)">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span class="hidden-sm-down">
                                        Add Property Information
                                    </span>
                                </button>
                            </div>
                            <ng-template #notActive>
                                <div>
                                    <div>{{parcels[0].id}}</div>
                                    <button type="submit" id="jh-create-entity" class="btn btn-primary float-right
                        jh-create-entity create-address" (click)="editNewProperty('edit', parcels[0].id, batch.id )">
                                        <fa-icon [icon]="'plus'"></fa-icon>
                                        <span class="hidden-sm-down">
                                            Edit Property Information
                                        </span>
                                    </button>
                                </div>
                            </ng-template>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
