<nav id="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><fa-icon icon="home"></fa-icon> Lagos eGIS Project</a></li>
    <li class="breadcrumb-item active" aria-current="page">Application Form Downloads</li>
  </ol>
</nav>
<div class="container page-header">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="border-bottom">Application Form Downloads</h2>
    </div>
  </div>
</div>
<div class="container main">
  <div class="row">
    <div class="col-lg-9">    					
      <blockquote class="blockquote">
        <p class="mb-2">
          To download application form(s) for any land transaction, kindly run through the form generation wizard to generate specific/personalized application form for your desired land transaction. Information required from the wizard include the transaction of interest, count of parties (individual or organisation); as well as if the form is for an agent on behalf of the actual applicant(s). 
        </p>
        <p class="">
          <strong>Note: If you have already have a portal account, you can also fill and submit your application form online. <a href="#">Click here to register portal account</a>, have your account up and runninng in few minutes. </strong>
        </p>
      </blockquote>
      <div class="text-center">
        <a routerLink="/downloads/appname" class="btn btn-outline-secondary">Click here to (re)start download form wizard <fa-icon icon="chevron-right"></fa-icon></a>
      </div>

      <!-- <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/downloads/appname" >Transaction</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/downloads/parameters" >Parameter</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/downloads/complete" >Complete</a>
        </li>
      </ul> -->
      <router-outlet></router-outlet>
    </div>
    <div class="col-lg-3">
      <div id="sidebar">
        <h4>Related Information</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#">Create Surveyor Account</a></li>
          <li class="list-group-item"><a href="#">Lost my Password</a></li>
          <li class="list-group-item"><a href="#">How can i process my property Valuation?</a></li>
          <li class="list-group-item"><a href="#">I want to make an online application</a></li>
          <li class="list-group-item"><a href="#">How much would is cost me to process a specific land transaction?</a></li>
          <li class="list-group-item"><a href="#">How do I track an on-going application at the Lagos State Lands' Bureau?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>  
<script src="assets/js/loading-bars.js"></script>