<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="party">
            <h2><span jhiTranslate="egisexternalApp.party.detail.title">Party</span> {{party.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span></dt>
                <dd>
                    <span>{{party.partyType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyRoleType">Party Role Type</span></dt>
                <dd>
                    <span>{{party.partyRoleType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partySubRoleType">Party Sub Role Type</span></dt>
                <dd>
                    <span>{{party.partySubRoleType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.deliveryType">Delivery Type</span></dt>
                <dd>
                    <span>{{party.deliveryType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.partyName">Party Name</span></dt>
                <dd>
                    <span>{{party.partyName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.shareNominator">Share Nominator</span></dt>
                <dd>
                    <span>{{party.shareNominator}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.shareDenominator">Share Denominator</span></dt>
                <dd>
                    <span>{{party.shareDenominator}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.taxExempt">Tax Exempt</span></dt>
                <dd>
                    <span>{{party.taxExempt}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.primaryParty">Primary Party</span></dt>
                <dd>
                    <span>{{party.primaryParty}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.otherName">Other Name</span></dt>
                <dd>
                    <span>{{party.otherName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdType">Person Id Type</span></dt>
                <dd>
                    <span>{{party.personIdType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personType">Person Type</span></dt>
                <dd>
                    <span>{{party.personType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.fax">Fax</span></dt>
                <dd>
                    <span>{{party.fax}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.email">Email</span></dt>
                <dd>
                    <span>{{party.email}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.emailType">Email Type</span></dt>
                <dd>
                    <span>{{party.emailType}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{party.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.payerId">Payer Id</span></dt>
                <dd>
                    <span>{{party.payerId}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.taxPayerNumber">Tax Payer Number</span></dt>
                <dd>
                    <span>{{party.taxPayerNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.comments">Comments</span></dt>
                <dd>
                    <span>{{party.comments}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdIssuedBy">Person Id Issued By</span></dt>
                <dd>
                    <span>{{party.personIdIssuedBy}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdDate">Person Id Date</span></dt>
                <dd>
                    <span>{{party.personIdDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personIdExpirationDate">Person Id Expiration Date</span></dt>
                <dd>
                    <span>{{party.personIdExpirationDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.rcNumber">Rc Number</span></dt>
                <dd>
                    <span>{{party.rcNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.organization">Organization</span></dt>
                <dd>
                    <span>{{party.organization}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.businessNature">Business Nature</span></dt>
                <dd>
                    <span>{{party.businessNature}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthPlace">Birth Place</span></dt>
                <dd>
                    <span>{{party.birthPlace}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{party.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.personTitle">Person Title</span></dt>
                <dd>
                    <span>{{party.personTitle}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.gender">Gender</span></dt>
                <dd>
                    <span>{{party.gender}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.firstName">First Name</span></dt>
                <dd>
                    <span>{{party.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{party.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.lastName">Last Name</span></dt>
                <dd>
                    <span>{{party.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.civilState">Civil State</span></dt>
                <dd>
                    <span>{{party.civilState}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.driverLicenseRegion">Driver License Region</span></dt>
                <dd>
                    <span>{{party.driverLicenseRegion}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.driverLicence">Driver Licence</span></dt>
                <dd>
                    <span>{{party.driverLicence}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.representativeId">Representative Id</span></dt>
                <dd>
                    <span>{{party.representativeId}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.professionRegNo">Profession Reg No</span></dt>
                <dd>
                    <span>{{party.professionRegNo}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.occupation">Occupation</span></dt>
                <dd>
                    <span>{{party.occupation}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.party.address">Address</span></dt>
                <dd>
                    <div *ngIf="party.address">
                        <a [routerLink]="['/address', party.address?.id, 'view']">{{party.address?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party', party.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
