<h5 class="sub-header mt-4 mb-4">Application Summary</h5>
<div class="row">
    <div class="col-12">
        <blockquote class="blockquote">
            <p class="mb-0">
                It is a punishable offence to provide any false information and/or make any false statements or claim when completing this form. Where it is subsequently discovered that a Certificate of Occupancy was issued based on false or inaccurate information, the Governor (or his appointee) may in his sole discretion, revoke such Certificate of Occupancy.
            </p>
        </blockquote>
        <div class="alert alert-info">
            The Governor reserves the right to reject any application for not properly or fully completed and shall not incur any liability for any such revocation. The information you supply on this form is public knowledge and may be published in the media.
        </div>


        <h6 class="sub-header-style-2 pt-3"><span>Applicant(s) Information</span></h6>
        <div *ngFor="let party of parties" >
            <div class="jh-entity-details">
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.partyType">Party Type</span></h6>
                        <div class="value" *ngIf="party.partyType">{{party.partyType?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.partyRoleType">Legal Role</span></h6>
                        <div class="value" *ngIf="party.partyRoleType">{{party.partyRoleType?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.primaryParty">Primary Party</span></h6>
                        <div class="value" *ngIf="party.primaryParty">{{party.primaryParty?.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.organization">Organization Name</span></h6>
                        <div class="value">{{party.organization}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.rcNumber">RC Number</span></h6>
                        <div class="value">{{party.rcNumber}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.businessNature">Nature of Business</span></h6>
                        <div class="value"  *ngIf="party.businessNature">{{party.businessNature.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.personTitle">Person Title</span></h6>
                        <div class="value" *ngIf="party.personTitle">{{party.personTitle?.label}}</div>
                    </div>
                    <div class="col-md-4">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.lastName">Last Name</span></h6>
                        <div class="value">{{party.lastName}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.firstName">First Name</span></h6>
                        <div class="value">{{party.firstName}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.middleName">Middle Name</span></h6>
                        <div class="value">{{party.middleName}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.gender">Gender</span></h6>
                        <div class="value" *ngIf="party.gender">{{party.gender?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.occupation">Occupation</span></h6>
                        <div class="value">{{party.occupation}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.birthPlace">Birth Place</span></h6>
                        <div class="value">{{party.birthPlace}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.birthDate">Birth Date</span></h6>
                        <div class="value">{{party.birthDate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.civilState">State of Origin</span></h6>
                        <div class="value" *ngIf="party.civilState">{{party.civilState?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Marital Status</span></h6>
                        <div class="value"> </div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>ID Document Number</span></h6>
                        <div class="value">{{party.iDDocumentNumber}} </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.iDDocumentType">ID Document Type</span></h6>
                        <div class="value" *ngIf="party.iDDocumentType">{{party.iDDocumentType?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.personIdDate">ID Document Issued Date</span></h6>
                        <div class="value">{{party.personIdDate}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.personIdExpirationDate">ID Document Expiration Date</span></h6>
                        <div class="value">{{party.personIdExpirationDate}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.personIdIssuedBy">ID Document Issued By</span></h6>
                        <div class="value" *ngIf="party.personIdIssuedBy">{{party.personIdIssuedBy?.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.payerId">Payer Id</span></h6>
                        <div class="value">{{party.payerId}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.taxPayerNumber">Tax Payer Number</span></h6>
                        <div class="value">{{party.taxPayerNumber}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>PAYE Number</span></h6>
                        <div class="value"> </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.longAddress">Address</span></h6>
                        <div class="value">{{party.longAddress}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.emailAddress">Email</span></h6>
                        <div class="value">{{party.emailAddress}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.party.phoneNumber">Phone Number</span></h6>
                        <div class="value">{{party.phoneNumber}}</div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="field"><span>Unit Number</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-2">
                        <h6 class="field"><span>Block Number</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-2">
                        <h6 class="field"><span>Plot Number</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Estate Name</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Scheme Name</span></h6>
                        <div class="value"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="field"><span>Street Number</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-4">
                        <h6 class="field"><span>Street Name</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Street Type</span></h6>
                        <div class="value" *ngIf="party.streetType">{{party.streetType?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>District</span></h6>
                        <div class="value" *ngIf="party.district">{{party.district?.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Town</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Village</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Ward</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Local Government Area</span></h6>
                        <div class="value" *ngIf="party.localGovermentArea">{{party.localGovermentArea?.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>State</span></h6>
                        <div class="value" *ngIf="party.state">{{party.state?.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Country</span></h6>
                        <div class="value" *ngIf="party.country">{{party.country?.label}}</div>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="sub-header-style-2 pt-3"><span>Property Information</span></h6>
        <div *ngIf="parcel">
            <jhi-alert-error></jhi-alert-error>
            <div class="jh-entity-details">
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Government Status</span></h6>
                        <div class="value" *ngIf="parcel.governmentStatus">{{parcel.governmentStatus.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.propertyType">Property Type</span></h6>
                        <div class="value" *ngIf="parcel.propertyType" >{{parcel.propertyType.label}}</div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.description">Description</span></h6>
                        <div class="value">{{parcel.comments}}</div>
                    </div>
                    <div class="col-md-2">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.unitNumber">Unit Number</span></h6>
                        <div class="value">{{parcel.unitNumber}}</div>
                    </div>
                    <div class="col-md-2">
                        <h6 class="field"><span>Block Number</span></h6>
                        <div class="value"> {{parcel.blockNumber}}</div>
                    </div>
                    <div class="col-md-2">
                        <h6 class="field"><span>Plot Number</span></h6>
                        <div class="value"> {{parcel.plotNumber}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="field"><span>Street Number</span></h6>
                        <div class="value">{{parcel.streetNumber}}</div>
                    </div>
                    <div class="col-md-4">
                        <h6 class="field"><span>Street Name</span></h6>
                        <div class="value">{{parcel.streetName}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Street Type</span></h6>
                        <div class="value"  *ngIf="parcel.streetType">{{parcel.streetType.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>District</span></h6>
                        <div class="value"  *ngIf="parcel.district">{{parcel.district.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Estate Name</span></h6>
                        <div class="value"  *ngIf="parcel.estateName">{{parcel.estateName.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Scheme Name</span></h6>
                        <div class="value"  *ngIf="parcel.schemeName">{{parcel.schemeName.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Ward</span></h6>
                        <div class="value">{{parcel.ward}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>Town</span></h6>
                        <div class="value">{{parcel.ward}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Local Government Area</span></h6>
                        <div class="value"  *ngIf="parcel.localGovernmentArea">{{parcel.localGovernmentArea.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span>State</span></h6>
                        <div class="value"  *ngIf="parcel.state">{{parcel.state.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.propertyArea">Property Area</span></h6>
                        <div class="value">{{parcel.propertyArea}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.location">Location of Land</span></h6>
                        <div class="value"  *ngIf="parcel.location">{{parcel.location.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Village</span></h6>
                        <div class="value">{{parcel.village}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.typeOfAccommodation">Accommodation</span></h6>
                        <div class="value"  *ngIf="parcel.typeOfAccommodation">{{parcel.typeOfAccommodation.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.valuationAmount">Valuation</span></h6>
                        <div class="value">{{parcel.valuationAmount}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.premiumValue">Premium Value</span></h6>
                        <div class="value">{{parcel.premiumValue}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.landUseCategory">Land Use Category</span></h6>
                        <div class="value" *ngIf="parcel.landUseCategory">{{parcel.landUseCategory.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.landUseType">Land Use Type</span></h6>
                        <div class="value" *ngIf="parcel.landUseType" >{{parcel.landUseType.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>Property Number</span></h6>
                        <div class="value"></div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.planNumber">Survey Plan Number</span></h6>
                        <div class="value">{{parcel.planNumber}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.area">Area</span></h6>
                        <div class="value">{{parcel.area}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.measurementUnitType">Measurement Unit Type</span></h6>
                        <div class="value" *ngIf="parcel.measurementUnitType !== null">{{parcel.measurementUnitType.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span>UPIN</span></h6>
                        <div class="value">{{parcel.upin}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.coordinateN">Coordinate N</span></h6>
                        <div class="value">{{parcel.coordinateN}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.coordinateE">Coordinate E</span></h6>
                        <div class="value">{{parcel.coordinateE}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.developmentStatus">Development Status</span></h6>
                        <div class="value" *ngIf="parcel.developmentStatus">{{parcel.developmentStatus.label}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.tenureType">Tenure Type</span></h6>
                        <div class="value" *ngIf="parcel.tenureType ">{{parcel.tenureType.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.builtUpAreaType">Built Up Area Type</span></h6>
                        <div class="value" *ngIf="parcel.builtUpAreaType" >{{parcel.builtUpAreaType.label}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.lagosSheetNumber">Lagos Sheet Number</span></h6>
                        <div class="value">{{parcel.lagosSheetNumber}}</div>
                    </div>
                    <div class="col-md-3">
                        <h6 class="field"><span jhiTranslate="egisexternalApp.parcel.allocationName">Allocation</span></h6>
                        <div class="value"  *ngIf="parcel.allocationName">{{parcel.allocationName.label}}</div>
                    </div>
                </div>
            </div>

            <h6 class="sub-header-style-2 pt-3"><span>Supporting Documents Provided </span></h6>
            <div>
                <div>
                    <div class="table-responsive" *ngIf="supportingDocuments?.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                                <tr>
                                    <th scope="col">Document Name - Mandatory</span></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let supportingDocument of supportingDocuments ">
                                    <td>{{supportingDocument.documentType.label}} - {{supportingDocument.name}} </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <div *ngIf="supportingDocument.content === undefined || supportingDocument.content === '' || supportingDocument.content === null   else canDownload">
                                            </div>
                                        </div>
                                        <ng-template #canDownload>
                                            <button type="submit" (click)="getFile(supportingDocument.id, supportingDocument.content, supportingDocument.name  )" class="btn btn-outline-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">Download</span>
                                            </button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive" *ngIf="supportingDocumentsOthers?.length > 0">
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead>
                                <tr>
                                    <th scope="col">Document Name - Others</span></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let supportingDocument of supportingDocumentsOthers ">
                                    <td>{{supportingDocument.documentType.label}} - {{supportingDocument.name}} </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <div *ngIf="supportingDocument.content === undefined || supportingDocument.content === '' || supportingDocument.content === null   else canDownload">
                                            </div>
                                        </div>
                                        <ng-template #canDownload>
                                            <button type="submit" (click)="getFile(supportingDocument.id, supportingDocument.content, supportingDocument.name  )" class="btn btn-outline-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">Download</span>
                                            </button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <label class="alert alert-secondary mt-4">
                I attest that all information entered are accurate and have been reviewed by me. I also declare that I am liable for all information entered above. By clicking the "Submit" button, Asides form submitting of this application for processing, it also implies that I agree to abide by the terms and conditions that may be imposed as a result of this application and to any subsequent amendment of existing laws thereto.
            </label>
            <div class="value"  *ngIf="!canPush">
                <button type="submit" (click)="previousState()" class="btn btn-outline-secondary">
                    <fa-icon icon="chevron-left"></fa-icon> <span jhiTranslate="entity.action.back"> Back</span>
                </button>
            </div>

            <!-- <button type="button" [routerLink]="['/parcel', parcel.id, 'edit']" class="btn btn-outline-secondary">
                <fa-icon icon="pencil-alt"></fa-icon> <span jhiTranslate="entity.action.edit"> Edit</span>
            </button> -->

            <div class="value"  *ngIf="canPush">
                <button type="submit" (click)="previousState()" class="btn btn-outline-secondary">
                    <fa-icon icon="chevron-left"></fa-icon> <span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button   type="submit" (click)="submitTransaction(batch.id)" class="btn btn-primary">
                    <fa-icon [icon]="'paper-plane'"></fa-icon>  Submit Transaction
                </button>
            </div>
        </div>
    </div>
</div>
