<div class="slide">	
	<div class="inner-slide">
		<div class="content d-none d-sm-block">
			<h1>Integrated State-Wide Land, Valuation &amp; Property Tax Information System Solution.</h1>
			<p class="pt-2 mb-2">Bringing invative land administration technology to your home and business...</p>
			<p class="d-none d-xl-block">
				The number one benefit of information technology is that it empowers people to do what they want to do. 
				It lets people be creative. It lets people be productive.
			</p>
		</div>
 		<!-- <div class="calculator-container">
 			<h1>Auto Fees Calculator.</h1>
 			<h2>Would you like to know how much it would cost you to execute any Land Transaction?</h2>
 			<form action="fees-calculator.php">
 				<div class="form-group">
             		<label class="d-md-none">Select Transaction</label>
             		<select class="form-control">
                       	<option>Application for Certificate of Occupancy</option>
                       	<option>Application for Power of Attorney</option>
                       	<option>Application for Mortgage</option>
                       	<option>...</option>
                     </select>
           		</div>
           		<button type="submit" class="btn btn-block btn-outline-secondary">Get started</button>
           		<h6>
 					Disclaimer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget nunc sit amet dui tempor iaculis id ut enim. 
 					In tristique ligula ut imperdiet porta. Sed sit amet sapien non tortor venenatis imperdiet in lacinia sapien.
 				</h6>
         	</form>
 		</div> -->
	</div>		
</div>
<div class="slide-menu d-none d-sm-block">
  <div class="row">
    <div class="col-md-12">
      <div class="slide-menu-bar">		  
        <ul>
          <li><a class="btn btn-block" tabindex="-1" href="fees-calculator.php"><fa-icon [icon]="['fas', 'search']" size="2x"></fa-icon><span> Property Tax Lookup</span></a></li>
          <li><a class="btn btn-block" tabindex="-1" href="#"><fa-icon [icon]="['fas', 'building']" size="2x"></fa-icon><span>Property Taxes</span></a></li>
          <li><a class="btn btn-block" tabindex="-1" href="fees-calculator.php"><fa-icon [icon]="['fas', 'calculator']" size="2x"></fa-icon><span>Online Calculator</span></a></li>
          <li><a class="btn btn-block" tabindex="-1"><fa-icon [icon]="['fas', 'signature']" size="2x"></fa-icon><span>Certified True Copy</span></a></li>
          <li><a class="btn btn-block" tabindex="-1"><fa-icon [icon]="['fas', 'user-tag']" size="2x"></fa-icon><span>User Registration</span></a></li>
          <li><a class="btn btn-block" tabindex="-1"><fa-icon [icon]="['fas', 'chart-line']" size="2x"></fa-icon><span>Track Application</span></a></li>
          <li><a class="btn btn-block" tabindex="-1"><fa-icon [icon]="['fas', 'home']" size="2x"></fa-icon><span>Your Property</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">
        The Lagos State e-government portal provides online public access to all of the state's electronic land management solution; with easy access 
        to land transactions, document and other land information and also  to submit requested information such as applications, payments, documentation etc.
    </p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header grad">
                <h5 class="my-0 font-weight-bold">Online Property Search</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
    				<img src="../../content/images/custom/main/LG_0002.jpg" class="img-fluid">
    			</h1>
            	<div class="mt-3 mb-4">
              		Search for property by either address, property number or parcel ID and provides access to GIS maps, assessment data, 
              		scanned documents and property transaction history
                </div>
                <a class="btn btn-lg btn-block btn-outline-secondary" href="">Search Property</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header grad">
                <h5 class="my-0 font-weight-bold">Certified True Copy</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
    				<img src="../../content/images/custom/main/LG_0003.jpg" class="img-fluid">
    			</h1>
            	<div class="mt-3 mb-4">
                    Apply for CTC, provide payment information, and define how the report will be picked up; either through email, courier or 
                    as a walk-in customer at our nearest centre.
                </div>
                <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Get started</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header grad">
                <h5 class="my-0 font-weight-bold">Property Tax Valuation</h5>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
    				<img src="../../content/images/custom/main/LG_0004.jpg" class="img-fluid">
    			</h1>
            	<div class="mt-3 mb-4">
                    As a resident and property owner in Lagos State, you can view your property tax assessments, outstanding payments and history of transactions
                    carried out on your property.
                </div>
                <button type="button" class="btn btn-lg btn-block btn-outline-secondary">View Tax Assessment</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 pb-2 application-tracker">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline application-tracker-frm">
                  	<div class="input-group mb-2 mr-sm-2">
                    	<div class="input-group-prepend">
                      		<div class="input-group-text">#</div>
                    	</div>
                     	<input type="text" class="form-control" id="trackApplication" placeholder="Enter Application ID to track your Online Application.">
                  	</div>
                  	<button type="submit" class="btn btn-outline-secondary mb-2">Submit</button>
                </form>
			</div>
		</div>
	</div>
</div>
<!-- Modal signin window. This window is triggered by the signn button on the portal home page. -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModal" aria-hidden="true">
  	<div class="modal-dialog" role="document">
  		<div class="modal-content">
      		<div class="modal-body">
        		<form class="form-signin">
					<!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
			      	<h1 class="h3 mb-3 font-weight-normal float-left"><img src="../../content/images/custom/main/LG_0005.png" class="img-fluid"> Please sign in</h1>
			      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      			<span aria-hidden="true">&times;</span>
		    		</button>
			      	<label for="inputEmail" class="sr-only">Email address</label>
			      	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			      	<label for="inputPassword" class="sr-only">Password</label>
			      	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			      	<div class="mt-4 mb-3"><strong>Don't have an account? <a href="create-account.php">Click here to register.</a></strong></div>
			      	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			    </form>
      		</div>
    	</div>
  	</div>
</div>
<router-outlet></router-outlet>
<!--
<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.bugtracker">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow">follow @jhipster on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
-->
