<div>
    <h2 id="page-heading">
        <span jhiTranslate="egisexternalApp.parcel.home.title">Parcels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parcel" [routerLink]="['/parcel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="egisexternalApp.parcel.home.createLabel">
            Create a new Parcel
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'egisexternalApp.parcel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="parcels?.length === 0">
        <span jhiTranslate="egisexternalApp.parcel.home.notFound">No parcels found</span>
    </div>
    <div class="table-responsive" *ngIf="parcels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.label">Label</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.area">Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.spatialUnitType">Spatial Unit Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.registrationOfficeDictionary">Registration Office Dictionary</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.surveyType">Survey Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.surveyDate">Survey Date</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyType">Property Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.accommodation">Accommodation</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.tenureType">Tenure Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyArea">Property Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.location">Location</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.builtUpAreaType">Built Up Area Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.planNumber">Plan Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.measurementUnitType">Measurement Unit Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.premiumValue">Premium Value</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.landUseCategory">Land Use Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.landUseType">Land Use Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.developmentStatus">Development Status</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.coordinateN">Coordinate N</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.coordinateS">Coordinate S</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.lagosSheetNumber">Lagos Sheet Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.allocation">Allocation</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.location1">Location 1</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.unitNumber">Unit Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.registerType">Register Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.valuation">Valuation</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.comments">Comments</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.legalDescription">Legal Description</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.meansOfAcq">Means Of Acq</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.address">Address</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parcel of parcels ;trackBy: trackId">
                <td><a [routerLink]="['/parcel', parcel.id, 'view' ]">{{parcel.id}}</a></td>
                <td>{{parcel.label}}</td>
                <td>{{parcel.area}}</td>
                <td>{{parcel.spatialUnitType}}</td>
                <td>{{parcel.registrationOfficeDictionary}}</td>
                <td>{{parcel.surveyType}}</td>
                <td>{{parcel.surveyDate | date:'mediumDate'}}</td>
                <td>{{parcel.propertyType}}</td>
                <td>{{parcel.accommodation}}</td>
                <td>{{parcel.tenureType}}</td>
                <td>{{parcel.description}}</td>
                <td>{{parcel.propertyArea}}</td>
                <td>{{parcel.location}}</td>
                <td>{{parcel.builtUpAreaType}}</td>
                <td>{{parcel.planNumber}}</td>
                <td>{{parcel.measurementUnitType}}</td>
                <td>{{parcel.premiumValue}}</td>
                <td>{{parcel.landUseCategory}}</td>
                <td>{{parcel.landUseType}}</td>
                <td>{{parcel.developmentStatus}}</td>
                <td>{{parcel.coordinateN}}</td>
                <td>{{parcel.coordinateS}}</td>
                <td>{{parcel.lagosSheetNumber}}</td>
                <td>{{parcel.allocation}}</td>
                <td>{{parcel.location1}}</td>
                <td>{{parcel.unitNumber}}</td>
                <td>{{parcel.name}}</td>
                <td>{{parcel.registerType}}</td>
                <td>{{parcel.valuation}}</td>
                <td>{{parcel.comments}}</td>
                <td>{{parcel.legalDescription}}</td>
                <td>{{parcel.meansOfAcq}}</td>
                <td>
                    <div *ngIf="parcel.address">
                        <a [routerLink]="['/address', parcel.address?.id, 'view' ]" >{{parcel.address?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/parcel', parcel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parcel', parcel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(parcel)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
