<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parcel">
            <h2><span jhiTranslate="egisexternalApp.parcel.detail.title">Parcel</span> {{parcel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="egisexternalApp.parcel.propertyNumber">Property Number</span></dt>
                <dd>
                    <span>{{parcel.propertyNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.parcelLineage">Parcel Lineage</span></dt>
                <dd>
                    <span>{{parcel.parcelLineage}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.surveyPlanNumber">Survey Plan Number</span></dt>
                <dd>
                    <span>{{parcel.surveyPlanNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.propertyDescription">Property Description</span></dt>
                <dd>
                    <span>{{parcel.propertyDescription}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.area">Area</span></dt>
                <dd>
                    <span>{{parcel.area}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.description">Description</span></dt>
                <dd>
                    <span>{{parcel.description}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.propertyArea">Property Area</span></dt>
                <dd>
                    <span>{{parcel.propertyArea}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.planNumber">Plan Number</span></dt>
                <dd>
                    <span>{{parcel.planNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.premiumValue">Premium Value</span></dt>
                <dd>
                    <span>{{parcel.premiumValue}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.coordinateN">Coordinate N</span></dt>
                <dd>
                    <span>{{parcel.coordinateN}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.coordinateE">Coordinate E</span></dt>
                <dd>
                    <span>{{parcel.coordinateE}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.lagosSheetNumber">Lagos Sheet Number</span></dt>
                <dd>
                    <span>{{parcel.lagosSheetNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.unitNumber">Unit Number</span></dt>
                <dd>
                    <span>{{parcel.unitNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.valuationAmount">Valuation Amount</span></dt>
                <dd>
                    <span>{{parcel.valuationAmount}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.comments">Comments</span></dt>
                <dd>
                    <span>{{parcel.comments}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.streetNumber">Street Number</span></dt>
                <dd>
                    <span>{{parcel.streetNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.streetName">Street Name</span></dt>
                <dd>
                    <span>{{parcel.streetName}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.blockNumber">Block Number</span></dt>
                <dd>
                    <span>{{parcel.blockNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.plotNumber">Plot Number</span></dt>
                <dd>
                    <span>{{parcel.plotNumber}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.ward">Ward</span></dt>
                <dd>
                    <span>{{parcel.ward}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.town">Town</span></dt>
                <dd>
                    <span>{{parcel.town}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.district">District</span></dt>
                <dd>
                    <span>{{parcel.district}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.village">Village</span></dt>
                <dd>
                    <span>{{parcel.village}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.upin">Upin</span></dt>
                <dd>
                    <span>{{parcel.upin}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.comment">Comment</span></dt>
                <dd>
                    <span>{{parcel.comment}}</span>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.location">Location</span></dt>
                <dd>
                    <div *ngIf="parcel.location">
                        <a [routerLink]="['/dictionary', parcel.location?.id, 'view']">{{parcel.location?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.builtUpAreaType">Built Up Area Type</span></dt>
                <dd>
                    <div *ngIf="parcel.builtUpAreaType">
                        <a [routerLink]="['/dictionary', parcel.builtUpAreaType?.id, 'view']">{{parcel.builtUpAreaType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.measurementUnitType">Measurement Unit Type</span></dt>
                <dd>
                    <div *ngIf="parcel.measurementUnitType">
                        <a [routerLink]="['/dictionary', parcel.measurementUnitType?.id, 'view']">{{parcel.measurementUnitType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.landUseCategory">Land Use Category</span></dt>
                <dd>
                    <div *ngIf="parcel.landUseCategory">
                        <a [routerLink]="['/dictionary', parcel.landUseCategory?.id, 'view']">{{parcel.landUseCategory?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.landUseType">Land Use Type</span></dt>
                <dd>
                    <div *ngIf="parcel.landUseType">
                        <a [routerLink]="['/dictionary', parcel.landUseType?.id, 'view']">{{parcel.landUseType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.developmentStatus">Development Status</span></dt>
                <dd>
                    <div *ngIf="parcel.developmentStatus">
                        <a [routerLink]="['/dictionary', parcel.developmentStatus?.id, 'view']">{{parcel.developmentStatus?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.governmentStatus">Government Status</span></dt>
                <dd>
                    <div *ngIf="parcel.governmentStatus">
                        <a [routerLink]="['/dictionary', parcel.governmentStatus?.id, 'view']">{{parcel.governmentStatus?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.propertyType">Property Type</span></dt>
                <dd>
                    <div *ngIf="parcel.propertyType">
                        <a [routerLink]="['/dictionary', parcel.propertyType?.id, 'view']">{{parcel.propertyType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.streetType">Street Type</span></dt>
                <dd>
                    <div *ngIf="parcel.streetType">
                        <a [routerLink]="['/dictionary', parcel.streetType?.id, 'view']">{{parcel.streetType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.estateName">Estate Name</span></dt>
                <dd>
                    <div *ngIf="parcel.estateName">
                        <a [routerLink]="['/dictionary', parcel.estateName?.id, 'view']">{{parcel.estateName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.schemeName">Scheme Name</span></dt>
                <dd>
                    <div *ngIf="parcel.schemeName">
                        <a [routerLink]="['/dictionary', parcel.schemeName?.id, 'view']">{{parcel.schemeName?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.state">State</span></dt>
                <dd>
                    <div *ngIf="parcel.state">
                        <a [routerLink]="['/dictionary', parcel.state?.id, 'view']">{{parcel.state?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.localGovernmentArea">Local Government Area</span></dt>
                <dd>
                    <div *ngIf="parcel.localGovernmentArea">
                        <a [routerLink]="['/dictionary', parcel.localGovernmentArea?.id, 'view']">{{parcel.localGovernmentArea?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.locationofLand">Locationof Land</span></dt>
                <dd>
                    <div *ngIf="parcel.locationofLand">
                        <a [routerLink]="['/dictionary', parcel.locationofLand?.id, 'view']">{{parcel.locationofLand?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.typeOfAccommodation">Type Of Accommodation</span></dt>
                <dd>
                    <div *ngIf="parcel.typeOfAccommodation">
                        <a [routerLink]="['/dictionary', parcel.typeOfAccommodation?.id, 'view']">{{parcel.typeOfAccommodation?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.tenureType">Tenure Type</span></dt>
                <dd>
                    <div *ngIf="parcel.tenureType">
                        <a [routerLink]="['/dictionary', parcel.tenureType?.id, 'view']">{{parcel.tenureType?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.district">District</span></dt>
                <dd>
                    <div *ngIf="parcel.district">
                        <a [routerLink]="['/dictionary', parcel.district?.id, 'view']">{{parcel.district?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="egisexternalApp.parcel.allocationName">Allocation Name</span></dt>
                <dd>
                    <div *ngIf="parcel.allocationName">
                        <a [routerLink]="['/dictionary', parcel.allocationName?.id, 'view']">{{parcel.allocationName?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parcel', parcel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
