<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parcel-heading" jhiTranslate="egisexternalApp.parcel.home.createOrEditLabel">Create or edit a Parcel</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyNumber" for="field_propertyNumber">Property Number</label>
                    <input type="text" class="form-control" name="propertyNumber" id="field_propertyNumber"
                           formControlName="propertyNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.parcelLineage" for="field_parcelLineage">Parcel Lineage</label>
                    <input type="text" class="form-control" name="parcelLineage" id="field_parcelLineage"
                           formControlName="parcelLineage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.surveyPlanNumber" for="field_surveyPlanNumber">Survey Plan Number</label>
                    <input type="text" class="form-control" name="surveyPlanNumber" id="field_surveyPlanNumber"
                           formControlName="surveyPlanNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyDescription" for="field_propertyDescription">Property Description</label>
                    <input type="text" class="form-control" name="propertyDescription" id="field_propertyDescription"
                           formControlName="propertyDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.area" for="field_area">Area</label>
                    <input type="number" class="form-control" name="area" id="field_area"
                           formControlName="area"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyArea" for="field_propertyArea">Property Area</label>
                    <input type="number" class="form-control" name="propertyArea" id="field_propertyArea"
                           formControlName="propertyArea"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.planNumber" for="field_planNumber">Plan Number</label>
                    <input type="text" class="form-control" name="planNumber" id="field_planNumber"
                           formControlName="planNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.premiumValue" for="field_premiumValue">Premium Value</label>
                    <input type="number" class="form-control" name="premiumValue" id="field_premiumValue"
                           formControlName="premiumValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.coordinateN" for="field_coordinateN">Coordinate N</label>
                    <input type="number" class="form-control" name="coordinateN" id="field_coordinateN"
                           formControlName="coordinateN"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.coordinateE" for="field_coordinateE">Coordinate E</label>
                    <input type="number" class="form-control" name="coordinateE" id="field_coordinateE"
                           formControlName="coordinateE"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.lagosSheetNumber" for="field_lagosSheetNumber">Lagos Sheet Number</label>
                    <input type="text" class="form-control" name="lagosSheetNumber" id="field_lagosSheetNumber"
                           formControlName="lagosSheetNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.valuationAmount" for="field_valuationAmount">Valuation Amount</label>
                    <input type="number" class="form-control" name="valuationAmount" id="field_valuationAmount"
                           formControlName="valuationAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.streetNumber" for="field_streetNumber">Street Number</label>
                    <input type="text" class="form-control" name="streetNumber" id="field_streetNumber"
                           formControlName="streetNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.streetName" for="field_streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName" id="field_streetName"
                           formControlName="streetName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.blockNumber" for="field_blockNumber">Block Number</label>
                    <input type="text" class="form-control" name="blockNumber" id="field_blockNumber"
                           formControlName="blockNumber"/>
                    <div *ngIf="editForm.get('blockNumber').invalid && (editForm.get('blockNumber').dirty || editForm.get('blockNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('blockNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.plotNumber" for="field_plotNumber">Plot Number</label>
                    <input type="text" class="form-control" name="plotNumber" id="field_plotNumber"
                           formControlName="plotNumber"/>
                    <div *ngIf="editForm.get('plotNumber').invalid && (editForm.get('plotNumber').dirty || editForm.get('plotNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('plotNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.ward" for="field_ward">Ward</label>
                    <input type="text" class="form-control" name="ward" id="field_ward"
                           formControlName="ward"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.town" for="field_town">Town</label>
                    <input type="text" class="form-control" name="town" id="field_town"
                           formControlName="town"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.district" for="field_district">District</label>
                    <input type="text" class="form-control" name="district" id="field_district"
                           formControlName="district"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.village" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                           formControlName="village"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.upin" for="field_upin">Upin</label>
                    <input type="text" class="form-control" name="upin" id="field_upin"
                           formControlName="upin"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('location').value?.id ? editForm.get('location').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.builtUpAreaType" for="field_builtUpAreaType">Built Up Area Type</label>
                    <select class="form-control" id="field_builtUpAreaType" name="builtUpAreaType" formControlName="builtUpAreaType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('builtUpAreaType').value?.id ? editForm.get('builtUpAreaType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.measurementUnitType" for="field_measurementUnitType">Measurement Unit Type</label>
                    <select class="form-control" id="field_measurementUnitType" name="measurementUnitType" formControlName="measurementUnitType">
                        <option *ngIf="!editForm.get('measurementUnitType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('measurementUnitType').value?.id ? editForm.get('measurementUnitType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('measurementUnitType').invalid && (editForm.get('measurementUnitType').dirty || editForm.get('measurementUnitType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('measurementUnitType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.landUseCategory" for="field_landUseCategory">Land Use Category</label>
                    <select class="form-control" id="field_landUseCategory" name="landUseCategory" formControlName="landUseCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('landUseCategory').value?.id ? editForm.get('landUseCategory').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.landUseType" for="field_landUseType">Land Use Type</label>
                    <select class="form-control" id="field_landUseType" name="landUseType" formControlName="landUseType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('landUseType').value?.id ? editForm.get('landUseType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.developmentStatus" for="field_developmentStatus">Development Status</label>
                    <select class="form-control" id="field_developmentStatus" name="developmentStatus" formControlName="developmentStatus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('developmentStatus').value?.id ? editForm.get('developmentStatus').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.governmentStatus" for="field_governmentStatus">Government Status</label>
                    <select class="form-control" id="field_governmentStatus" name="governmentStatus" formControlName="governmentStatus">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('governmentStatus').value?.id ? editForm.get('governmentStatus').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.propertyType" for="field_propertyType">Property Type</label>
                    <select class="form-control" id="field_propertyType" name="propertyType" formControlName="propertyType">
                        <option *ngIf="!editForm.get('propertyType').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('propertyType').value?.id ? editForm.get('propertyType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('propertyType').invalid && (editForm.get('propertyType').dirty || editForm.get('propertyType').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('propertyType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.streetType" for="field_streetType">Street Type</label>
                    <select class="form-control" id="field_streetType" name="streetType" formControlName="streetType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('streetType').value?.id ? editForm.get('streetType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.estateName" for="field_estateName">Estate Name</label>
                    <select class="form-control" id="field_estateName" name="estateName" formControlName="estateName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('estateName').value?.id ? editForm.get('estateName').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.schemeName" for="field_schemeName">Scheme Name</label>
                    <select class="form-control" id="field_schemeName" name="schemeName" formControlName="schemeName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('schemeName').value?.id ? editForm.get('schemeName').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.state" for="field_state">State</label>
                    <select class="form-control" id="field_state" name="state" formControlName="state">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('state').value?.id ? editForm.get('state').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.localGovernmentArea" for="field_localGovernmentArea">Local Government Area</label>
                    <select class="form-control" id="field_localGovernmentArea" name="localGovernmentArea" formControlName="localGovernmentArea">
                        <option *ngIf="!editForm.get('localGovernmentArea').value" [ngValue]="null" selected></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('localGovernmentArea').value?.id ? editForm.get('localGovernmentArea').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('localGovernmentArea').invalid && (editForm.get('localGovernmentArea').dirty || editForm.get('localGovernmentArea').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('localGovernmentArea').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.locationofLand" for="field_locationofLand">Locationof Land</label>
                    <select class="form-control" id="field_locationofLand" name="locationofLand" formControlName="locationofLand">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('locationofLand').value?.id ? editForm.get('locationofLand').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.typeOfAccommodation" for="field_typeOfAccommodation">Type Of Accommodation</label>
                    <select class="form-control" id="field_typeOfAccommodation" name="typeOfAccommodation" formControlName="typeOfAccommodation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('typeOfAccommodation').value?.id ? editForm.get('typeOfAccommodation').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.tenureType" for="field_tenureType">Tenure Type</label>
                    <select class="form-control" id="field_tenureType" name="tenureType" formControlName="tenureType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('tenureType').value?.id ? editForm.get('tenureType').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.district" for="field_district">District</label>
                    <select class="form-control" id="field_district" name="district" formControlName="district">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('district').value?.id ? editForm.get('district').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="egisexternalApp.parcel.allocationName" for="field_allocationName">Allocation Name</label>
                    <select class="form-control" id="field_allocationName" name="allocationName" formControlName="allocationName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dictionaryOption.id === editForm.get('allocationName').value?.id ? editForm.get('allocationName').value : dictionaryOption" *ngFor="let dictionaryOption of dictionaries; trackBy: trackDictionaryById">{{dictionaryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
