<div>
    <h2 id="page-heading">
        <span jhiTranslate="egisexternalApp.parcel.home.title">Parcels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parcel" [routerLink]="['/parcel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="egisexternalApp.parcel.home.createLabel">
            Create a new Parcel
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'egisexternalApp.parcel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="parcels?.length === 0">
        <span jhiTranslate="egisexternalApp.parcel.home.notFound">No parcels found</span>
    </div>
    <div class="table-responsive" *ngIf="parcels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyNumber">Property Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.parcelLineage">Parcel Lineage</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.surveyPlanNumber">Survey Plan Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyDescription">Property Description</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.area">Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyArea">Property Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.planNumber">Plan Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.premiumValue">Premium Value</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.coordinateN">Coordinate N</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.coordinateE">Coordinate E</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.lagosSheetNumber">Lagos Sheet Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.unitNumber">Unit Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.valuationAmount">Valuation Amount</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.comments">Comments</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.streetNumber">Street Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.streetName">Street Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.blockNumber">Block Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.plotNumber">Plot Number</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.ward">Ward</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.town">Town</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.district">District</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.village">Village</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.upin">Upin</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.comment">Comment</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.location">Location</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.builtUpAreaType">Built Up Area Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.measurementUnitType">Measurement Unit Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.landUseCategory">Land Use Category</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.landUseType">Land Use Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.developmentStatus">Development Status</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.governmentStatus">Government Status</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.propertyType">Property Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.streetType">Street Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.estateName">Estate Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.schemeName">Scheme Name</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.state">State</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.localGovernmentArea">Local Government Area</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.locationofLand">Locationof Land</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.typeOfAccommodation">Type Of Accommodation</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.tenureType">Tenure Type</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.district">District</span></th>
            <th scope="col" ><span jhiTranslate="egisexternalApp.parcel.allocationName">Allocation Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parcel of parcels ;trackBy: trackId">
                <td><a [routerLink]="['/parcel', parcel.id, 'view' ]">{{parcel.id}}</a></td>
                <td>{{parcel.propertyNumber}}</td>
                <td>{{parcel.parcelLineage}}</td>
                <td>{{parcel.surveyPlanNumber}}</td>
                <td>{{parcel.propertyDescription}}</td>
                <td>{{parcel.area}}</td>
                <td>{{parcel.description}}</td>
                <td>{{parcel.propertyArea}}</td>
                <td>{{parcel.planNumber}}</td>
                <td>{{parcel.premiumValue}}</td>
                <td>{{parcel.coordinateN}}</td>
                <td>{{parcel.coordinateE}}</td>
                <td>{{parcel.lagosSheetNumber}}</td>
                <td>{{parcel.unitNumber}}</td>
                <td>{{parcel.valuationAmount}}</td>
                <td>{{parcel.comments}}</td>
                <td>{{parcel.streetNumber}}</td>
                <td>{{parcel.streetName}}</td>
                <td>{{parcel.blockNumber}}</td>
                <td>{{parcel.plotNumber}}</td>
                <td>{{parcel.ward}}</td>
                <td>{{parcel.town}}</td>
                <td>{{parcel.district}}</td>
                <td>{{parcel.village}}</td>
                <td>{{parcel.upin}}</td>
                <td>{{parcel.comment}}</td>
                <td>
                    <div *ngIf="parcel.location">
                        <a [routerLink]="['/dictionary', parcel.location?.id, 'view' ]" >{{parcel.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.builtUpAreaType">
                        <a [routerLink]="['/dictionary', parcel.builtUpAreaType?.id, 'view' ]" >{{parcel.builtUpAreaType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.measurementUnitType">
                        <a [routerLink]="['/dictionary', parcel.measurementUnitType?.id, 'view' ]" >{{parcel.measurementUnitType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.landUseCategory">
                        <a [routerLink]="['/dictionary', parcel.landUseCategory?.id, 'view' ]" >{{parcel.landUseCategory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.landUseType">
                        <a [routerLink]="['/dictionary', parcel.landUseType?.id, 'view' ]" >{{parcel.landUseType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.developmentStatus">
                        <a [routerLink]="['/dictionary', parcel.developmentStatus?.id, 'view' ]" >{{parcel.developmentStatus?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.governmentStatus">
                        <a [routerLink]="['/dictionary', parcel.governmentStatus?.id, 'view' ]" >{{parcel.governmentStatus?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.propertyType">
                        <a [routerLink]="['/dictionary', parcel.propertyType?.id, 'view' ]" >{{parcel.propertyType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.streetType">
                        <a [routerLink]="['/dictionary', parcel.streetType?.id, 'view' ]" >{{parcel.streetType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.estateName">
                        <a [routerLink]="['/dictionary', parcel.estateName?.id, 'view' ]" >{{parcel.estateName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.schemeName">
                        <a [routerLink]="['/dictionary', parcel.schemeName?.id, 'view' ]" >{{parcel.schemeName?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.state">
                        <a [routerLink]="['/dictionary', parcel.state?.id, 'view' ]" >{{parcel.state?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.localGovernmentArea">
                        <a [routerLink]="['/dictionary', parcel.localGovernmentArea?.id, 'view' ]" >{{parcel.localGovernmentArea?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.locationofLand">
                        <a [routerLink]="['/dictionary', parcel.locationofLand?.id, 'view' ]" >{{parcel.locationofLand?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.typeOfAccommodation">
                        <a [routerLink]="['/dictionary', parcel.typeOfAccommodation?.id, 'view' ]" >{{parcel.typeOfAccommodation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.tenureType">
                        <a [routerLink]="['/dictionary', parcel.tenureType?.id, 'view' ]" >{{parcel.tenureType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.district">
                        <a [routerLink]="['/dictionary', parcel.district?.id, 'view' ]" >{{parcel.district?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcel.allocationName">
                        <a [routerLink]="['/dictionary', parcel.allocationName?.id, 'view' ]" >{{parcel.allocationName?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/parcel', parcel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parcel', parcel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(parcel)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
