<!-- {{message}} -->
<!-- <h1 class="text-capitalize text-center" jhiTranslate="applicationtransdetail.title">Title</h1> -->
<!-- <h5 class="text-center" jhiTranslate="applicationtransdetail.subtitle">Subtitle</h5> -->
<!-- <p class="text-justify" jhiTranslate="/applicationtransdetail.content"></p> -->



<!-- <h5 class="sub-header mt-4 mb-4">{{transInfo.applicationname}}</h5> -->

<!-- @oojekwe
if not signed in, hide. display if signed in -->

<div *ngIf="setup">
    <p>
        <br>
        <button *ngIf="showActivate" type="submit" id="jh-create-entity" class="btn btn-outline-secondary jh-create-entity create-address" (click)="initiateTransaction(transCode)">Click here to Initiate Transaction <fa-icon icon="chevron-right"></fa-icon></button>

        <button *ngIf="showContinue" type="submit" id="jh-create-entity" class="btn btn-outline-secondary jh-create-entity create-address" (click)="continueTransaction(batchId)">Continue A Transaction <fa-icon icon="chevron-right"></fa-icon></button>
    </p>

</div>


<!-- Fetch value from .xlx config sheet -->
<!-- {{transInfo.description}}  -->
<div [innerHTML]="transInfo.description"></div>

<blockquote class="blockquote mt-3">
    <p class="mb-0">
        <h6><strong>Restrictions:</strong></h6>
        <!-- {{transInfo.restrictions}} -->
        <div [innerHTML]="transInfo.restrictions"></div>
    </p>
</blockquote>

<h6><strong>Expiration:</strong></h6>
<!-- {{transInfo.expiration}} -->
<div [innerHTML]="transInfo.expiration"></div>

<h6 class="sub-header-style-2 pt-3"><span>Documents Received</span></h6>
<!-- {{transInfo.docsreceived}} -->
<div [innerHTML]="transInfo.docsreceived"></div>

<h6 class="sub-header-style-2 pt-3"><span>Pre-Requisites</span></h6>
<h6><strong>Documents</strong></h6>
<!-- {{transInfo.prerequisitedocs}} -->
<div [innerHTML]="transInfo.prerequisitedocs"></div>
<h6><strong>Pre-requisite Transactions:</strong></h6>
<!-- {{transInfo.prerequisitetrans}} -->
<div [innerHTML]="transInfo.prerequisitetrans"></div>

<h6 class="sub-header-style-2 pt-3"><span>Procedure</span></h6>
<!-- {{transInfo.procedure}} -->
<div [innerHTML]="transInfo.procedure"></div>

<h6 class="sub-header-style-2 pt-3"><span>Associated Fees</span></h6>
<!-- {{transInfo.associatedfees}} -->
<div [innerHTML]="transInfo.associatedfees"></div>

<h6 class="sub-header-style-2 pt-3"><span>Application Forms & Methods</span></h6>
<p>
    This application and all other forms are available for download at <a href="">http://www.lagosegisportal.com.ng/downloads</a>. Alternatively, the applicant can collect the forms from the Lands Bureau. You can submit your application for this transaction in any of these ways, depending on which is convenient and feasible:
    <ol>
        <li>
            <b>Paper submission:</b><br>
            This can be done in 2 ways:
            <ul>
                <li>Visit the Lands Bureau: The applicant can visit the Lands Bureau and collect application forms from there. Then fill the application form and submit it with the required supporting documents.</li>
                <li>Print the forms from the website: The applicant can go online and print the form from the Land Bureau Website. Then he can fill the appropriate fields and go physically to the Lands Bureau to submit the application form and supporting documents.</li>
            </ul>
        </li>
        <li>
            <b>Online Submission:</b><br>
            The applicant can initiate this transaction on the online portal. He /she will need to create an account on the online portal, then download the fillable PDF to a computer system/ mobile device. Then fill in the PDF fields with text using a keyboard. After filling all fields, the applicant will need to print the PDF and sign where appropriate. Then upload the signed PDF to the online portal, accompanied with supporting documents.
        </li>
    </ol>
</p>

<div *ngIf="setup">
    <p>
        <button *ngIf="showActivate" type="submit" id="jh-create-entity" class="btn btn-outline-secondary jh-create-entity create-address" (click)="initiateTransaction(transCode)">Click here to Initiate Transaction <fa-icon icon="chevron-right"></fa-icon></button>

        <button *ngIf="showContinue" type="submit" id="jh-create-entity" class="btn btn-outline-secondary jh-create-entity create-address" (click)="continueTransaction(batchId)">Continue A Transaction <fa-icon icon="chevron-right"></fa-icon></button>
    </p>
</div>

