<ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="config-panel-one" class="mb-4 mt-6">
    <ngb-panel title="Land Use Allocation Committee (LUAC)" id="config-panel-one">
        <ng-template ngbPanelContent>
            <div>
                <p>
                    The committee is charged with the sole responsibility of advising the Governor on Land Administration and Management Matters. It vested the power to Administer, Manage and Control State Land in the Governor of the State.
                </p>
                <div class="row application-list">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngFor="let tran of transLuac"><a (click)="gotoOverview(tran.code_, tran.param_value )"><fa-icon icon="chevron-right"></fa-icon> {{tran.param_value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Directorate of Land Registry">
        <ng-template ngbPanelContent>
            <div>
                <p>
                    The Land Registry Directorate is a very sensitive part of the Bureau that is saddled with the responsibility of keeping an up-to-date record of all land transactions in the State.
                </p>
                <div class="row application-list">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngFor="let tran of transRegistry"><a (click)="gotoOverview(tran.code_, tran.param_value )"><fa-icon icon="chevron-right"></fa-icon> {{tran.param_value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Directorate of Land Regularisation (DLR)">
        <ng-template ngbPanelContent>
            <div>
                <p>
                    DLR is responsible for the regularisation of title to land is the process of granting title to those who have erroneously purchased uncommitted Government acquisition.
                </p>
                <div class="row application-list">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngFor="let tran of transDlr"><a (click)="gotoOverview(tran.code_, tran.param_value )"><fa-icon icon="chevron-right"></fa-icon> {{tran.param_value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Directorate of Land Services (DLS)">
        <ng-template ngbPanelContent>
            <div>
                <p>
                    DLS is a key component of Lagos State Lands Bureau for processing application for Governor’s Consent to subsequent transactions (Assignments, Subleases, Power of Attorney, Gifts and Mortgages) on land in line with the provisions of the Land Use Act, 1978; as well as Acquisition/Revocation matters, Compensation matters, Village/Settlement Excisions, amongst others.
                </p>
                <div class="row application-list">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngFor="let tran of transDls"><a (click)="gotoOverview(tran.code_, tran.param_value )"><fa-icon icon="chevron-right"></fa-icon> {{tran.param_value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Directorate of Land Transactions (DLT)">
        <ng-template ngbPanelContent>
            <div>
                <p>

                </p>
                <div class="row application-list">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngFor="let tran of transDlt"><a (click)="gotoOverview(tran.code_, tran.param_value )" ><fa-icon icon="chevron-right"></fa-icon> {{tran.param_value}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<div class="row">
    <div class="col-lg-9">
        <div class="aa">
            <div>
                <h3>Can’t find what the transaction you are interested in?</h3>
                <a href="" class="btn btn-primary btn-lg mt-4">Ask One of Our Agents</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="applicationlanding.title">Title</h1>
    <h5 class="text-center" jhiTranslate="applicationlanding.subtitle">Subtitle</h5>
    <hr/>
    <p class="text-justify" jhiTranslate="applicationlanding.content">Content</p>
  </div>

  <div class="">
    <div>
        <div id="accordion-online-application" class="mb-4 ui-accordion ui-widget ui-helper-reset" role="tablist">
            <h3 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">

            </span>Registry (REGISTRY)</h3>
            <ul>
                <li *ngFor="let tran of transRegistry">


                <a
                [routerLink]="['/application/overview', tran.code_]"
                >{{tran.param_value}}</a>

                </li>
            </ul>



        </div>
    </div>
    <div>
        <div id="accordion-online-application" class="mb-4 ui-accordion ui-widget ui-helper-reset" role="tablist">
            <h3 class="ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e">

            </span>LUAC (LUAC)</h3>
            <ul>
                <li *ngFor="let tran of transLuac">


                <a
                [routerLink]="['/application/overview', tran.code_]"
                >{{tran.param_value}}</a>

                </li>
            </ul>



        </div>
    </div>
</div>

  <div class="col-md-1"></div>
</div> -->
