@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import url("../css/nav.css");
@import url("../css/form-signin.modal.css");
@import url("../css/carousel.css");
@import url("../css/application-tracker.css");


/* ==============================================================
Custom CSS
===============================================================*/
@font-face {
  font-family: 'Quicksand_Regular';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Titillium_Web';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

body {
  	font-size: 14px;
  	line-height: 1.375;
  	/*line-height: 20px;*/
    color: #1c1c1c;
  	/*padding-top: 120px;*/
  	font-family: Titillium_Web, 'Roboto', Quicksand_Regular, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    background: none;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
    	font-size: 14px;
	}
}

a {
    color: #2d699e;
}

.form-group.required label:after, 
.checkbox.required .col-form-label:after {
    content: " *";
    color: red;
    font-weight: bold;
}

select.form-control-lg:not([size]):not([multiple]) {
    height: calc(40px + 2px);
}

.btn-xs {
  padding: .10rem .5rem;
}

.dataTables_length select {
  margin: 0 8px;
  padding: 0 10px;
  font-size: 12px;
}

.dataTables_length label,
.dataTables_filter label {
  display: inline-flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em 0em;
  margin-left: 0px;
}

.form-control-lg {
    padding: 9px 18px;
    font-size: 14px;
}

.input-group-text {
    border-radius: 1rem;
}

.container {
/*   	max-width: 960px; */
}

.pricing-header {
  	max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.form-control,
.btn {
    border-radius: 1rem;
}

.card-title img {
/* 	height: 120px */
}

.grade {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+32,9fd8ef+67,2ab0ed+100 */
	background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e4f5fc 0%, #bfe8f9 33%, #9fd8ef 66%, #77c8ea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e4f5fc 0%,#bfe8f9 33%,#9fd8ef 66%,#77c8ea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e4f5fc 0%,#bfe8f9 33%,#9fd8ef 66%,#77c8ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#77c8ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grad2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+33,cedce7+33,cedce7+100,cedce7+100 */
background: #596a72; /* Old browsers */
background: -moz-linear-gradient(-45deg, #596a72 0%, #cedce7 33%, #cedce7 33%, #cedce7 100%, #cedce7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #596a72 0%,#cedce7 33%,#cedce7 33%,#cedce7 100%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #596a72 0%,#cedce7 33%,#cedce7 33%,#cedce7 100%,#cedce7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
   	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.card-deck .card .card-header h5 {
		font-size: 18px;
	}
	
	.card-deck .card .card-body button.btn-lg {
		font-size: 14px;
	}
}

.page-header {
	margin-top: 26px;
	margin-bottom: 30px;
}

.page-header h2 {
    font-weight: bold;
    padding-bottom: 10px;
}

.sub-header {
  border-bottom: solid thin #eee;
  font-weight: bold;
  padding: 0 0 6px 0;
  margin: 10px 0;
}

.main {
	min-height: 280px;
    margin-bottom: 60px;
}

.blockquote {
	font-size: 1.125em;
    border-left: 5px solid #F48024;
    padding: 10px 20px;
    background-color: beige;
}

.frm_1,
.computed-fees,
.print-computed-fees {
	width: 60%;
    margin: 0 auto;
}

.computed-fees .total-fees {
	text-align: center;
    margin-bottom: 80px;
}

.computed-fees .total-fees h2 {
	font-weight: bold;
    font-size: 50px;
    color: brown;
}

.computed-fees .total-fees h6 {
	font-size: 11px;
    line-height: 10px;
}

#sidebar {
	
}

#sidebar h4 {
	font-weight: bold;
}

#sidebar .list-group-item {
	padding: 10px 0;
    font-weight: bold;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.form-download-link h5 {
  font-weight: bold;
  line-height: 20px;
  margin-top: 10px;
}

.form-download-link:hover {
  text-decoration: none;
  color: red
}

.form-download-link-footnote {
  font-size: 12px;
  border-top: solid thin #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

.tab-content>.tab-pane {
    padding: 20px 0;
}


.application-breadcrumb {
  background-color: transparent;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h6.form-subtitle {
  border-bottom: solid thin #eee;
  margin-top: 10px;
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
}

.form-control-file {
  border-radius: 0 1rem 1rem 0;
  border: solid thin #eeee;
}

.form-check {
  margin-bottom: 20px
}

.ui-widget,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
    font-size: inherit;
}

.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.table td,
.table th {
  vertical-align: middle;
}

/* ==============================================================
Custom jHipster tweaks
===============================================================*/

strong {
  font-weight: bold
}

.jh-card {
    padding: 0;
    margin-top: 0;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
/*a,
a:hover {
  color: #533f03;
  font-weight: bold;
}*/

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  /*padding: 1.5%;
  margin-top: 20px;*/
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */
